<div class="create-form-description">{{ "DOCUMENT" | translate }}</div>

<div class="form-controls" [formGroup]="documentStep">
  <!-- passport number -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label
        >{{ "SERIES_AND_DOCUMENT" | translate
        }}<span class="primary-color">*</span></mat-label
      >

      <input
        matInput
        [placeholder]="mask"
        type="text"
        formControlName="passport_number"
      />

      <button
        *ngIf="documentStep.get('passport_number').value"
        (click)="documentStep.get('passport_number').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            documentStep.get('passport_number').touched &&
            documentStep.get('passport_number').invalid
          "
          [errors]="documentStep.get('passport_number').errors"
          [errorMessages]="{
            bad_format: documentStep.get('passport_number').errors?.bad_format,
            bad_value: documentStep.get('passport_number').errors?.bad_value,
            required: ('ENTER_SERIES_AND_DOCUMENT' | translate)
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- passport org -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label
        >{{ "ISSUED_BY" | translate
        }}<span class="primary-color">*</span></mat-label
      >

      <textarea
        matInput
        name="passport_org"
        formControlName="passport_org"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
      ></textarea>

      <button
        *ngIf="documentStep.get('passport_org').value"
        (click)="documentStep.get('passport_org').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            documentStep.get('passport_org').touched &&
            documentStep.get('passport_org').invalid
          "
          [errors]="documentStep.get('passport_org').errors"
          [errorMessages]="{
            bad_format: documentStep.get('passport_org').errors?.bad_format,
            bad_value: documentStep.get('passport_org').errors?.bad_value,
            required: ('ENTER_WHO_ISSUED_THE_DOCUMENT' | translate)
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- passport date -->
  <div class="form-control date-form-control">
    <mat-form-field appearance="outline">
      <mat-label>Дата выдачи<span class="primary-color">*</span></mat-label>

      <input
        matInput
        [placeholder]="'DATE_OF_BIRTH' | translate"
        name="passport_date"
        formControlName="passport_date"
        [matDatepicker]="picker"
        [min]="min"
        [max]="max"
      />
      <mat-datepicker-toggle matSuffix [for]="picker">
        <svg matDatepickerToggleIcon width="2rem" height="2.2rem">
          <use xlink:href="assets/sprites/icons.svg#calendar-today"></use>
        </svg>
      </mat-datepicker-toggle>
      <mat-datepicker [touchUi]="true" #picker></mat-datepicker>

      <mat-error
        ><app-error-messages
          *ngIf="
            documentStep.get('passport_date').touched &&
            documentStep.get('passport_date').invalid
          "
          [errors]="documentStep.get('passport_date').errors"
          [errorMessages]="{
            bad_format: documentStep.get('passport_date').errors?.bad_format,
            bad_value: documentStep.get('passport_date').errors?.bad_value,
            required: ('ENTER_DATE_OF_ISSUE' | translate)
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- oms -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>{{ "OMS" | translate }}</mat-label>

      <input matInput type="text" formControlName="oms" />

      <button
        *ngIf="documentStep.get('oms').value"
        (click)="documentStep.get('oms').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            documentStep.get('oms').touched && documentStep.get('oms').invalid
          "
          [errors]="documentStep.get('oms').errors"
          [errorMessages]="{
            bad_format: documentStep.get('oms').errors?.bad_format,
            bad_value: documentStep.get('oms').errors?.bad_value
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- snils -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>{{ "SNILS" | translate }}</mat-label>

      <input
        matInput
        [dropSpecialCharacters]="false"
        autocomplete="snils"
        [showMaskTyped]="true"
        type="text"
        formControlName="snils"
        [mask]="snilsMask"
      />

      <button
        *ngIf="documentStep.get('snils').value"
        (click)="documentStep.get('snils').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error>
        <app-error-messages
          *ngIf="
            documentStep.get('snils').touched &&
            documentStep.get('snils').invalid
          "
          [errors]="documentStep.get('snils').errors"
          [errorMessages]="{
            bad_format: documentStep.get('snils').errors?.bad_format,
            bad_value: documentStep.get('snils').errors?.bad_value,
            snils: 'Введите корректный СНИЛС'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>
</div>
