<div class="page-container" [hidden]="isLoading">
  <a (click)="back()" class="back-link">
    <svg width="1rem" height="1rem">
      <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
    </svg>
    <span>{{ "BACK" | translate }}</span>
  </a>

  <h1 class="page-title">
    {{
      timeExpired
        ? ("TIME_EXPIRED" | translate)
        : ("ENTER_THE_CODE" | translate)
    }}
  </h1>

  <ng-container *ngIf="!timeExpired">
    <div class="sms-description">
      <p>
        {{ "ENTER_CODE_FROM_SMS" | translate }}
        <strong class="primary-color">{{ phoneValue }}</strong>
      </p>
    </div>

    <div class="otc">
      <fieldset>
        <label for="otc-1" #otc>Number 1</label>
        <label for="otc-2">Number 2</label>
        <label for="otc-3">Number 3</label>
        <label for="otc-4">Number 4</label>

        <div [formGroup]="codeForm" name="one-time-code">
          <input
            *ngFor="let input of [1, 2, 3, 4]; index as i"
            type="number"
            [formControlName]="'control' + (i + 1)"
            pattern="[0-9]*"
            (click)="inputNum.select()"
            maxlength="1"
            (focus)="inputFocus(inputNum)"
            (input)="inputKeyup(inputNum, $event)"
            (keyup)="check(inputNum, $event)"
            inputtype="numeric"
            (paste)="i === 0 ? onPaste($event) : null"
            [autocomplete]="i === 0 ? 'one-time-code' : null"
            id="{{ 'otc-' + (i + 1) }}"
            #inputNum
            class="confirm-control"
            required
            [class.invalid]="confirmError"
          />
        </div>
      </fieldset>
    </div>
    <div class="confirm-error" *ngIf="confirmError">{{ confirmError }}</div>

    <div class="new-code-text" *ngIf="!resendCode">
      {{ "GET_NEW_CODE_IN_SEC_PRE" | translate }} {{ counter$ | async }}
      {{ "GET_NEW_CODE_IN_SEC_POST" | translate }}
    </div>

    <a [routerLink]="['/auth', 'sms-info']" class="no-sms">{{
      "DIDNT_RECEIVE_SMS" | translate
    }}</a>
  </ng-container>

  <div class="re-captcha">
    <ngx-invisible-recaptcha
      #captchaElem
      [siteKey]="siteKey"
      (success)="getNewCode($event)"
      [useGlobalDomain]="false"
    >
    </ngx-invisible-recaptcha>
  </div>
</div>

<div class="buttons">
  <button
    *ngIf="resendCode"
    type="button"
    class="button"
    (click)="captchaElem.execute()"
  >
    <span>Отправить код повторно</span>
  </button>
</div>

<!-- loader -->
<app-loader *ngIf="isLoading"></app-loader>
