<div class="page-content">
  <div class="page-container">
    <a (click)="back()" class="back-link">
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>Назад</span>
    </a>
    <h1 class="page-title">Корпоративные клиенты</h1>
    <div class="info-text">
      <p>
        Корпоративным клиентам доступна оплата заказов за счет компании. У
        заказов есть лимит. Оплатить заказ сверх лимита корпоративного счета
        нельзя.
      </p>
      <p>
        Заказ можно оплатить с корпоративного счета только если выбрана одна
        корпоративная анкета.
      </p>
    </div>
  </div>
</div>
