<div class="page-content">
  <div class="page-container">
    <a (click)="back()" class="back-link">
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>{{ "BACK" | translate }}</span>
    </a>
    <h1 class="page-title">Корпоративные клиенты</h1>
    <div class="info-text">
      <p>
        {{ "CORPORATE_CLIENTS_CAN_PAY" | translate }}
      </p>
      <p>
        Заказ можно оплатить с корпоративного счета <strong>только</strong> если
        выбрана одна корпоративная анкета.
      </p>
    </div>
  </div>
</div>
