<div class="navigation-menu">
  <div class="logo" (click)="goHome()">
    <img src="assets/logo.svg" alt="logotype" />
  </div>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <mat-expansion-panel
          hideToggle
          class="nav-item navigation-expansion-panel"
        >
          <mat-expansion-panel-header
            [expandedHeight]="'6rem'"
            [collapsedHeight]="'6rem'"
          >
            <mat-panel-title> Путешественникам </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="expansion-nav">
            <li
              class="expansion-nav-item"
              [routerLink]="['/']"
              (click)="closeMenu()"
            >
              <a href="#test-necessity"> Для чего нужно</a>
            </li>
            <li
              (click)="closeMenu()"
              [routerLink]="['/']"
              class="expansion-nav-item"
            >
              <a href="#how-works">Как работает</a>
            </li>
            <li
              (click)="closeMenu()"
              [routerLink]="['/']"
              class="expansion-nav-item"
            >
              <a href="#test-type">Какие анализы</a>
            </li>
            <li
              (click)="closeMenu()"
              [routerLink]="['/']"
              class="expansion-nav-item"
            >
              <a href="#test-location">Где находится</a>
            </li>
          </ul>
        </mat-expansion-panel>
      </li>

      <li class="navigation-list-item">
        <a
          [routerLink]="['/services']"
          class="nav-item nav-link"
          (click)="closeMenu()"
        >
          <span>Услуги</span>
        </a>
      </li>
      <li class="navigation-list-item">
        <a
          [routerLink]="['/service-points']"
          class="nav-item nav-link"
          (click)="closeMenu()"
        >
          <span>Точки обслуживания</span>
        </a>
      </li>
      <li
        class="navigation-list-item"
        (click)="closeMenu()"
        [routerLink]="['/']"
      >
        <a href="#faq" class="nav-item nav-link">
          <span>FAQ</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
