<div class="navigation-menu">
  <div class="logo">
    <img src="assets/logo.svg" alt="logotype" />
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Personal data </mat-panel-title>
      <mat-panel-description> Type your name and age </mat-panel-description>
    </mat-expansion-panel-header>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, dolorem
    iste quisquam a dolore odio pariatur, nisi eaque provident repudiandae,
    nihil quis repellat quia totam iusto modi possimus doloremque atque maxime
    molestias non. Provident error vitae doloremque enim alias soluta eveniet
    consectetur blanditiis! Facere numquam, animi ex placeat rerum a!
  </mat-expansion-panel>
</div>
