@import "theme";

:host {
  display: block;
  width: 30.7rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  transform: translateX(-100%);
  background-color: $light;
  transition: transform 0.2s;
  overflow: scroll;
}

:host-context(.is-visible) {
  transform: translateX(0);
}

.logo {
  margin: 1.6rem 2rem;
  min-height: 5.5rem;

  img {
    width: 26.7rem;
  }
}

.navigation-list-item {
  &:not(:last-child) {
    span {
      border-bottom: 1px solid rgba($light-gray, 0.8);
    }
  }
}

.nav-link {
  text-transform: uppercase;
  padding: 0 2rem;
  display: flex;
  font-size: 1.8rem;
  line-height: 1.284;
  align-items: center;
  text-decoration: none;
  color: $dark;

  span {
    padding: 1.8rem 0;
    width: 100%;
    display: inline-block;
  }

  &.active,
  &:focus,
  &:active {
    span {
      color: $primary;
    }
  }
}
