@import "theme";
@import "vars";

.not-found {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{var(--header-content-height)});
}

.not-found-content {
  margin: auto;
}

.not-found-number {
  color: #be1622;
  line-height: 0.75;
  font-size: 13.3rem;
  font-weight: 700;
}

.not-found-title {
  font-size: 2.4rem;
  margin-top: 2.9rem;
  font-weight: 400;
  line-height: 1;
}

.not-found-pattern {
  height: 2.4rem;
  object-fit: cover;
  width: 100%;
  margin-top: 0.7rem;
}
