<div class="page-content" *ngIf="user">
  <div class="page-container">
    <div class="page-top">
      <div class="spacer"></div>

      <a class="close" [routerLink]="['/']">{{ "CLOSE" | translate }}</a>
    </div>
    <h1 class="subtitle profile-title">{{ "EDITING_NAME" | translate }}</h1>

    <form (submit)="submit()" [formGroup]="editForm" class="form-controls">
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>{{ "NAME" | translate }}</mat-label>

          <input matInput type="text" name="name" formControlName="name" />

          <button
            *ngIf="editForm.get('name').value"
            (click)="editForm.get('name').setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="
                editForm.get('name').touched && editForm.get('name').invalid
              "
              [errors]="editForm.get('name').errors"
              [errorMessages]="{
                required: ('ENTER_NAME' | translate),
                incorrect_name_length:
                  editForm.get('name').errors?.incorrect_name_length
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div class="buttons">
  <button
    type="button"
    (click)="submit()"
    [disabled]="loading || editForm.get('name').invalid"
    class="button"
  >
    <span>{{ "SAVE" | translate }}</span>
  </button>
</div>
