<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a
        [routerLink]="['/cabinet', 'services-registration', 'info']"
        class="back-link"
      >
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h2 class="page-title">Ответьте на вопросы</h2>

    <form [formGroup]="form" (submit)="submit()" class="questions-content">
      <div class="question-item">
        <p>Выезжали ли вы за пределы РФ за последние 14 дней?</p>
        <mat-radio-group formControlName="been_abroad" color="primary">
          <mat-radio-button [value]="true">Да</mat-radio-button>
          <mat-radio-button [value]="false">Нет</mat-radio-button>
        </mat-radio-group>

        <ng-container *ngIf="showReturnDate">
          <h4 class="return-date-title">Укажите дату возвращения в РФ</h4>

          <!-- date picker -->
          <div class="form-control date-form-control">
            <mat-form-field appearance="outline">
              <mat-label>Дата</mat-label>

              <input
                matInput
                name="abroad_return_date"
                formControlName="abroad_return_date"
                [matDatepicker]="picker"
                [min]="minDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <svg matDatepickerToggleIcon width="2rem" height="2.2rem">
                  <use
                    xlink:href="assets/sprites/icons.svg#calendar-today"
                  ></use>
                </svg>
              </mat-datepicker-toggle>
              <mat-datepicker disabled="false" #picker></mat-datepicker>

              <mat-error
                ><app-error-messages
                  *ngIf="
                    form.get('abroad_return_date').touched &&
                    form.get('abroad_return_date').invalid
                  "
                  [errors]="form.get('abroad_return_date').errors"
                  [errorMessages]="{
                    required: 'Введите дату возвращения',
                    matDatepickerMin: 'Укажите дату не ранее двух недель назад'
                  }"
                ></app-error-messages
              ></mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
      <div class="question-item">
        <p>
          У меня есть симптомы ОРВИ, кашель, затрудненное дыхание, температура
          выше 37°С
        </p>
        <mat-radio-group formControlName="symptoms" color="primary">
          <mat-radio-button [value]="true">Да</mat-radio-button>
          <mat-radio-button [value]="false">Нет</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="question-item">
        <p>
          Я контактировал с людьми, находящимися на карантине или имеющими
          подтвержденное заболеевание “Коронавирусная инфекция, вызванная
          вирусом COVID-19 за последние 14 дней”
        </p>
        <mat-radio-group formControlName="patientContact" color="primary">
          <mat-radio-button [value]="true">Да</mat-radio-button>
          <mat-radio-button [value]="false">Нет</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="buttons">
        <button class="button" [disabled]="form.invalid">
          <span>Далее</span>
          <svg width="1.6rem" height="1.6rem">
            <use xlink:href="assets/sprites/icons.svg#next"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
