<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a
        [routerLink]="['/cabinet', 'services-registration', 'info']"
        class="back-link"
      >
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>{{ "BACK" | translate }}</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">{{
        "CLOSE" | translate
      }}</a>
    </div>

    <h2 class="page-title">{{ "ANSWER_THE_QUESTIONS" | translate }}</h2>

    <form [formGroup]="form" (submit)="submit()" class="questions-content">
      <div class="question-item">
        <p>{{ "HAVE_YOU_TRAVELED_OUTSIDE" | translate }}</p>
        <mat-radio-group formControlName="been_abroad" color="primary">
          <mat-radio-button [value]="true">{{
            "YES" | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="false">{{
            "NO" | translate
          }}</mat-radio-button>
        </mat-radio-group>

        <ng-container *ngIf="showReturnDate">
          <h4 class="return-date-title">
            {{ "INDICATE_DATE_OF_RETURN" | translate }}
          </h4>

          <!-- date picker -->
          <div class="form-control date-form-control">
            <mat-form-field appearance="outline">
              <mat-label>{{ "DATE" | translate }}</mat-label>

              <input
                matInput
                name="abroad_return_date"
                formControlName="abroad_return_date"
                [matDatepicker]="picker"
                [min]="minDate"
                ngxMask="00.00.0000"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <svg matDatepickerToggleIcon width="2rem" height="2.2rem">
                  <use
                    xlink:href="assets/sprites/icons.svg#calendar-today"
                  ></use>
                </svg>
              </mat-datepicker-toggle>
              <mat-datepicker disabled="false" #picker></mat-datepicker>

              <mat-error
                ><app-error-messages
                  *ngIf="
                    form.get('abroad_return_date').touched &&
                    form.get('abroad_return_date').invalid
                  "
                  [errors]="form.get('abroad_return_date').errors"
                  [errorMessages]="{
                    required: ('ENTER_RETURN_DATE' | translate),
                    matDatepickerMin:
                      ('SPECIFY_DATE_NOT_EARLY_TWO_WEEKS' | translate)
                  }"
                ></app-error-messages
              ></mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
      <div class="question-item">
        <p>
          {{ "ARVI_SYMPTOMS" | translate }}
        </p>
        <mat-radio-group formControlName="symptoms" color="primary">
          <mat-radio-button [value]="true">{{
            "YES" | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="false">{{
            "NO" | translate
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="question-item">
        <p>
          {{ "HAVE_BEEN_IN_CONTACT" | translate }}
        </p>
        <mat-radio-group formControlName="patientContact" color="primary">
          <mat-radio-button [value]="true">{{
            "YES" | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="false">{{
            "NO" | translate
          }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="buttons">
        <button class="button" [disabled]="form.invalid">
          <span>{{ "BUTTON.NEXT" | translate }}</span>
          <svg width="1.6rem" height="1.6rem">
            <use xlink:href="assets/sprites/icons.svg#next"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
