@import "theme";

.page-content {
  padding-bottom: 7.5rem;
}

.questions-content {
  margin-top: 1.6rem;
}

.question-item {
  &:not(:first-child) {
    margin-top: 2.4rem;
  }
}

.mat-radio-group {
  margin-top: 1.2rem;
  display: block;

  > * {
    &:not(:first-child) {
      margin-left: 3.2rem;
    }
  }

  ::ng-deep {
    .mat-radio-outer-circle {
      border-width: 0.1rem;
    }

    .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
      border-color: $primary-light;
    }

    .mat-radio-button.mat-primary .mat-radio-inner-circle {
      background-color: $primary-light;
    }
  }
}

.return-date-title {
  margin-top: 1.6rem;
}

.date-form-control {
  margin-top: 1.6rem;
}
