<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a [routerLink]="['/cabinet', 'questionnaires']" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Анкеты</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h2 class="page-title">Ответьте на вопросы</h2>

    <form [formGroup]="form" (submit)="submit()" class="questions-content">
      <div class="question-item">
        <p>Выезжали ли вы за пределы РФ?</p>
        <mat-radio-group formControlName="been_abroad" color="primary">
          <mat-radio-button [value]="true">Да</mat-radio-button>
          <mat-radio-button [value]="false">Нет</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="question-item">
        <p>
          У меня есть симптомы ОРВИ, кашель, затрудненное дыхание, температура
          выше 37°С
        </p>
        <mat-radio-group formControlName="symptoms" color="primary">
          <mat-radio-button [value]="true">Да</mat-radio-button>
          <mat-radio-button [value]="false">Нет</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="question-item">
        <p>
          Я контактировал с людьми, находящимися на карантине или имеющими
          подтвержденное заболеевание “Коронавирусная инфекция, вызванная
          вирусом COVID-19”
        </p>
        <mat-radio-group formControlName="patientContact" color="primary">
          <mat-radio-button [value]="true">Да</mat-radio-button>
          <mat-radio-button [value]="false">Нет</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="buttons">
        <button class="button" [disabled]="form.invalid">
          <span>Далее</span>
          <svg width="1.6rem" height="1.6rem">
            <use xlink:href="assets/sprites/icons.svg#next"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
