<div class="home-inner-page">
  <header class="home-inner-header">
    <h1 class="home-title">Услуги</h1>
  </header>

  <div class="page-container">
    <div class="services-blocks">
      <div
        class="services-block"
        #services
        [routerLink]="['/services', service.id]"
        *ngFor="let service of services$ | async"
      >
        <h2 class="services-block-title">
          {{ service.name }}
        </h2>
        <div class="infocard-field">
          <div class="infocard-icon">
            <svg width="1.8rem" height="1.8rem">
              <use xlink:href="assets/sprites/icons.svg#calendar"></use>
            </svg>
          </div>
          <span>{{ service.duration }}</span>
        </div>
        <div class="infocard-field">
          <div class="infocard-icon">
            <svg width="1.4rem" height="1.8rem">
              <use xlink:href="assets/sprites/icons.svg#gps"></use>
            </svg>
          </div>
          <span
            >Доступно в
            <a [routerLink]="['/service-points']" class="points-link"
              >{{ (servicePoints$ | async)?.length }}
              <span
                appPluralRu=""
                [value]="(servicePoints$ | async)?.length"
                [arVariants]="['мед. центре', 'мед. центрах', 'мед. центрах']"
              ></span> </a
          ></span>
        </div>
        <div class="service-price">
          {{ service.price }} {{ service.priceType }}
        </div>
        <button
          [routerLink]="['/auth', 'login']"
          (click)="$event.stopPropagation()"
          class="button stroke services-block-button"
        >
          Записаться
        </button>
      </div>
    </div>
  </div>
</div>
