@import "theme";

.home-inner-page {
  padding-bottom: 2rem;

  .back-link {
    margin-bottom: 1.6rem;
  }
}

.services-blocks {
  margin-top: 2rem;
}

.services-block {
  transition: box-shadow 0.2s;
  padding: 1.2rem 1.2rem 2.4rem;

  &.focused {
    box-shadow: 0 0 1rem rgba(120, 120, 120, 0.25);
  }

  &:not(:first-child) {
    margin-top: 2.4rem;
  }
}

.services-block-title {
  font-size: 1.8rem;
  line-height: 1.397;
  color: $dark;
}

.infocard-field {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  line-height: 1.394;
  color: $dark;

  > * {
    &:not(:first-child) {
      margin-left: 1.4rem;
    }
  }

  a {
    color: $dark;
  }
}

.infocard-icon {
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $primary;
  }
}

.service-price {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.394;
  color: $primary;
  margin-top: 2rem;
}

.services-block-button {
  width: 100%;
  margin-top: 2rem;
}
