<div class="home-inner-page">
  <header class="home-inner-header">
    <h1 class="home-title">Услуги</h1>
  </header>

  <div class="page-container">
    <div class="services-blocks">
      <!-- 1 -->
      <div class="services-block">
        <h2 class="services-block-title">
          Экспресс тест на COVID-19 (качетсвенное определение РНК короновируса
          SARS-COV-2)
        </h2>
        <div class="infocard-field">
          <div class="infocard-icon">
            <svg width="1.8rem" height="1.8rem">
              <use xlink:href="assets/sprites/icons.svg#calendar"></use>
            </svg>
          </div>
          <span>1 час</span>
        </div>
        <div class="infocard-field">
          <div class="infocard-icon">
            <svg width="1.4rem" height="1.8rem">
              <use xlink:href="assets/sprites/icons.svg#gps"></use>
            </svg>
          </div>
          <span>Доступно в <a [routerLink]="['']">3 мед. центрах</a></span>
        </div>
        <div class="service-price">2750 руб</div>
        <button
          [routerLink]="['/home', 'services', 1]"
          class="button stroke services-block-button"
        >
          Записаться
        </button>
      </div>
      <!-- 2 -->
      <div class="services-block">
        <h2 class="services-block-title">
          Стандартный тест на COVID-19 (качественное определение РНК
          коронавируса SARS-CoV-2)
        </h2>
        <div class="infocard-field">
          <div class="infocard-icon">
            <svg width="1.8rem" height="1.8rem">
              <use xlink:href="assets/sprites/icons.svg#calendar"></use>
            </svg>
          </div>
          <span>24 часа</span>
        </div>
        <div class="infocard-field">
          <div class="infocard-icon">
            <svg width="1.4rem" height="1.8rem">
              <use xlink:href="assets/sprites/icons.svg#gps"></use>
            </svg>
          </div>
          <span>Доступно в <a [routerLink]="['']">3 мед. центрах</a></span>
        </div>
        <div class="service-price">1800 руб</div>
        <button
          [routerLink]="['/home', 'services', 2]"
          class="button stroke services-block-button"
        >
          Записаться
        </button>
      </div>
    </div>
  </div>
</div>
