<div class="page-content">
  <form class="login-form" (submit)="login()" [formGroup]="loginForm">
    <!-- login content -->
    <div class="page-container" *ngIf="!submitted">
      <h1 class="page-title">Вход</h1>

      <!-- login controls -->
      <div class="form-controls">
        <!-- phone -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Телефон<span class="primary-color">*</span></mat-label>

            <input
              matInput
              mask="0 (000) 000 00 00"
              [validation]="true"
              prefix="+"
              type="text"
              formControlName="phone"
            />

            <button
              *ngIf="phoneControl.value"
              (click)="phoneControl.setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="phoneControl.touched && phoneControl.invalid"
                [errors]="phoneControl.errors"
                [errorMessages]="{
                  minlength:
                    'Минимальная длина ' +
                    phoneControl.errors.minlength?.requiredLength +
                    ' символов',
                  required: 'Введите номер телефона',
                  not_found: phoneControl.errors?.not_found,
                  exists_without_confirm:
                    phoneControl.errors?.exists_without_confirm,
                  blocked: phoneControl.errors?.blocked
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>

          <p>
            <a class="register-link" [routerLink]="['/auth', 'register']"
              >Еще нет аккаунта? Зарегистрироваться</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- sms confirm -->
    <app-sms-confirm
      [codeForm]="loginForm.get('code')"
      *ngIf="submitted"
      [isLogin]="true"
      (changeResendCode)="resendCode = $event"
      [resendCode]="resendCode"
      (submitted)="changeSubmitted($event)"
      [phoneValue]="phoneControl.value"
      (submit)="submit()"
    ></app-sms-confirm>

    <div class="buttons">
      <button
        *ngIf="!submitted"
        type="button"
        (click)="login()"
        class="button register-button"
        [disabled]="phoneControl.invalid || loginLoading"
      >
        <span>Далее</span>
        <svg width="1.6rem" height="1.6rem">
          <use xlink:href="assets/sprites/icons.svg#next"></use>
        </svg>
      </button>
    </div>
  </form>
</div>
