<div class="page-content">
  <form class="login-form">
    <div class="page-container">
      <h1 class="page-title">Вход</h1>

      <!-- controls -->
      <div class="form-controls">
        <!-- phone -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Телефон<span class="primary-color">*</span></mat-label>

            <input
              #phone
              matInput
              mask="0 (000) 000 00 00"
              [validation]="true"
              prefix="+"
              type="text"
              formControlName="phone"
            />

            <button
              *ngIf="phoneControl.value"
              (click)="phoneControl.setValue(null)"
              type="button"
              class="icon-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="phoneControl.touched && phoneControl.invalid"
                [errors]="phoneControl.errors"
                [errorMessages]="{
                  minlength:
                    'Минимальная длина ' +
                    phoneControl.errors.minlength?.requiredLength +
                    ' символов',
                  required: 'Введите номер телефона'
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>

          <p
            *ngIf="!(phoneControl.touched && phoneControl.invalid)"
            class="form-control-text"
          >
            Пришлем код подтверждения регистрациии оповестим о готовности
            результата.
          </p>
        </div>
      </div>

      <!-- sms code content -->
      <div class="page-container" [hidden]="!submitted">
        <a (click)="back()" class="back-link">
          <svg width="1rem" height="1rem">
            <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
          </svg>
          <span>Назад</span>
        </a>

        <h1 class="page-title">Введите код</h1>

        <div class="sms-description">
          <p>
            Ввведите код, полученный в СМС на номер
            <strong class="primary-color">+79998888790</strong>
          </p>
        </div>

        <div class="otc" name="one-time-code">
          <fieldset>
            <label for="otc-1" #otc>Number 1</label>
            <label for="otc-2">Number 2</label>
            <label for="otc-3">Number 3</label>
            <label for="otc-4">Number 4</label>

            <div formGroupName="code">
              <input
                *ngFor="let input of [1, 2, 3, 4]; index as i"
                type="number"
                [formControlName]="'control' + (i + 1)"
                pattern="[0-9]*"
                (click)="inputNum.select()"
                maxlength="1"
                (focus)="inputFocus(inputNum)"
                (input)="inputKeyup(inputNum, $event)"
                (keyup)="check(inputNum, $event)"
                inputtype="numeric"
                [autocomplete]="i === 0 ? 'one-time-code' : null"
                id="{{ 'otc-' + (i + 1) }}"
                #inputNum
                required
              />
            </div>
          </fieldset>
        </div>

        <div class="new-code-text" *ngIf="!resendCode">
          Получить новый код можно через {{ counter$ | async }} секунд
        </div>

        <a [routerLink]="['/auth', 'sms-info']" class="no-sms"
          >Не приходит СМС?</a
        >
      </div>
    </div>

    <div class="buttons">
      <button
        *ngIf="!submitted"
        type="button"
        (click)="login()"
        class="button register-button"
        [disabled]="phoneControl.invalid"
      >
        <span>Далее</span>
        <svg width="1.6rem" height="1.6rem">
          <use xlink:href="assets/sprites/icons.svg#next"></use>
        </svg>
      </button>
      <button
        (click)="setTimer()"
        *ngIf="resendCode"
        type="button"
        class="button"
      >
        <span>Отправить код повторно</span>
      </button>
    </div>
  </form>
</div>
