<div class="page-content">
  <form
    class="registration-form"
    (submit)="submit()"
    [formGroup]="registerForm"
  >
    <div class="page-container">
      <h1 class="page-title">Регистрация</h1>

      <!-- form contols -->
      <div class="form-controls">
        <!-- name -->
        <div
          class="form-control"
          [class.invalid]="nameControl.touched && nameControl.invalid"
        >
          <input type="text" placeholder="Имя" formControlName="name" />
          <app-error-messages
            *ngIf="nameControl.touched && nameControl.invalid; else nameMessage"
            [errors]="nameControl.errors"
            [errorMessages]="{ required: 'Введите имя' }"
          ></app-error-messages>

          <ng-template #nameMessage>
            <p class="form-control-text">
              Чтобы мы могли обратиться к вам по имени.
            </p>
          </ng-template>
        </div>

        <!-- phone -->
        <div
          class="form-control"
          [class.invalid]="phoneControl.touched && phoneControl.invalid"
        >
          <input
            mask="0 (000) 000 00 00"
            [validation]="true"
            prefix="+"
            type="text"
            placeholder="Телефон"
            formControlName="phone"
          />
          <app-error-messages
            *ngIf="
              phoneControl.touched && phoneControl.invalid;
              else phoneMessage
            "
            [errors]="phoneControl.errors"
            [errorMessages]="{
              minlength:
                'Минимальная длина ' +
                (phoneControl.errors.minlength?.requiredLength + 1) +
                ' символов',
              required: 'Введите номер телефона'
            }"
          ></app-error-messages>

          <ng-template #phoneMessage
            ><p class="form-control-text">
              Пришлем код подтверждения регистрациии оповестим о готовности
              результата.
            </p></ng-template
          >
        </div>

        <!-- email -->
        <div
          class="form-control"
          [class.invalid]="emailControl.touched && emailControl.invalid"
        >
          <input
            type="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
          <app-error-messages
            *ngIf="
              emailControl.touched && emailControl.invalid;
              else emailMessage
            "
            [errors]="emailControl.errors"
            [errorMessages]="{ required: 'Введите email' }"
          ></app-error-messages>

          <ng-template #emailMessage
            ><p class="form-control-text">
              Укажите Email, чтобы результаты исследований пришли на электронную
              почту.
            </p></ng-template
          >
        </div>
      </div>
    </div>

    <div class="buttons-group">
      <button type="submit" class="button" [disabled]="registerForm.invalid">
        <span>Далее</span>
        <svg width="1.6rem" height="1.6rem">
          <use xlink:href="assets/sprites/icons.svg#next"></use>
        </svg>
      </button>
    </div>
  </form>
</div>
