.form-controls {
  margin-top: 2.4rem;

  > * {
    &:not(:first-child) {
      margin-top: 1.6rem;
    }
  }
}

.form-control {
  &.select-control {
    .mat-form-field-appearance-outline {
      .mat-form-field-infix {
        padding-top: 1.65rem;
        padding-bottom: 1.65rem;
      }

      .mat-select-arrow-wrapper {
        transform: translateY(0);
      }
    }
  }

  &.date-form-control {
    .mat-form-field {
      .mat-focus {
        svg {
          fill: lighten($primary, 17.95%);
        }
      }
    }

    .mat-button-focus-overlay {
      display: none;
    }

    .mat-form-field-flex {
      padding-right: 1.2rem;
    }

    .mat-form-field-appearance-outline .mat-form-field-suffix {
      top: -0.1rem;

      .mat-icon-button {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  input {
    color: $dark;
    font: 400 1.6rem/1.5 "Open Sans", sans-serif;
    margin-top: 0;
    margin-right: 2.5rem;
  }

  .icon-button {
    position: absolute;
    right: 0;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;
    }

    .mat-form-field-label {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    mat-error {
      margin-top: 0.3rem;
    }

    .mat-form-field-infix {
      padding: 1.35rem 0;
      border-top-width: 1rem;
      font-size: 1.6rem;
      display: flex;
      border-top-width: 0.9rem;
      align-items: center;
      justify-content: space-between;
    }

    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0;
    }

    .mat-form-field-subscript-wrapper {
      position: static;
      margin-top: 0;
      font-size: 1.2rem;
      line-height: 1.34;
      padding: 0;
      overflow: visible;
    }

    .mat-form-field-hint-wrapper {
      display: none;
    }

    &.mat-focused {
      &:not(.mat-form-field-invalid) {
        .mat-form-field-label,
        .mat-form-field-outline-thick {
          color: lighten($primary, 17.95%);
        }
      }
    }

    &.mat-form-field-invalid {
      .primary-color {
        color: $error;
      }
    }
  }

  .mat-form-field {
    width: 100%;
  }
}

.form-control-text {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  line-height: 1.34;
}

.new-code-text,
.no-sms {
  font-size: 1.2rem;
  line-height: 1.34;
  margin-top: 1.6rem;
}

.new-code-text {
  color: $gray;
}

.no-sms {
  color: $primary;
  text-decoration: none;
  display: inline-block;
}
