.loader {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .box {
    position: relative;
    width: 2.4rem;
    opacity: 0.2;
    height: 2.4rem;
    margin: 0 0.8rem;
    background-color: $primary;
    animation: pulse 0.75s linear infinite alternate;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
