@import "theme";
@import "vars";

.page-content {
  padding-bottom: 3rem;
}

.order-status {
  color: $light;
  padding: 0.3rem 1.1rem;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.34;
  background-color: $primary;

  > * {
    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }

  &.draft {
    background-color: $light-gray;
    color: $dark;
  }

  &.confirmed {
    background-color: $accent;
  }

  &.not-confirmed {
    background-color: #444444;
  }
}

.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.order-number {
  line-height: 1.75;
}

.order-date {
  color: $gray;
  font-size: 1.2rem;
}

.order-address {
  margin-top: 0.7rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: $dark;
  line-height: 1.34;
  max-width: 80%;
}

.questionnaires {
  margin-top: 1.6rem;

  > * {
    &:not(:first-child) {
      margin-top: 2.4rem;
    }
  }
}

.questionnaire-wrapper {
  padding: 0 $container-gap;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - #{$container-gap});
    height: 0.1rem;
    background-color: rgba($dark, 0.08);
  }
}

.questionnaire-fio {
  font-weight: 600;
}

.service-body {
  padding: 1.6rem 0;
  display: flex;
  margin-top: 0.4rem;
  align-items: flex-start;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.service-name {
  max-width: 61.5%;
  color: $dark;
}

.service-price {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
}

.total-price {
  font-size: 2.4rem;
  line-height: 1.17;
  font-weight: 700;
}

.get-results {
  display: block;
  margin-top: 2.8rem;
  color: $primary;
  font-weight: 600;
  text-decoration: none;
}

.questionnaire-top {
  > * {
    &:not(:first-child) {
      margin-top: 0.8rem;
    }
  }
}

.ext-id {
  font-size: 1.2rem;
  line-height: 1.34;
  color: rgba(#263238, 0.6);
}

.document-link {
  display: block;
  margin-top: 1.4rem;
  color: $primary;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 $container-gap;

  > * {
    &:not(:first-child) {
      margin-left: 0.7rem;
    }
  }

  svg {
    width: 1.8rem;
    height: 1.775rem;
    stroke-width: 0.05rem;
    stroke: $primary;
    fill: $primary;
  }
}

.barcode {
  margin-top: 2.7rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.barcode-content {
  position: relative;
}

.expand-button {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  bottom: 1.2rem;
  transform: translateX(100%);
  right: 0;

  svg {
    fill: $primary;
  }
}

.warning-message {
  margin-top: 0.8rem;
  padding: 0.5rem 1.7rem 0.5rem 0.8rem;
  font-size: 1.2rem;
  line-height: 1.34;

  &.payment-processing {
    background-color: rgba(#6e91a6, 0.2);
  }

  &.data-transmission,
  &.partially-confirmed {
    background-color: rgba(#e2e9ed, 0.2);
  }

  &.not-confirmed,
  &.data-error,
  &.payment-error {
    background-color: rgba(#be1622, 0.1);
  }
}

.order-number {
  color: $primary;
}

.order-top {
  display: flex;
  align-items: center;

  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.4rem;
    }
  }
}

.support-link {
  font-weight: 600;
  margin-top: 1.2rem;
  color: $primary;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.order-status-spinner {
  width: 1.3rem;
  height: 0.9rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.discount {
  margin-top: 3.2rem;
  font-size: 1.4rem;
  line-height: 1.14;

  ~ .total-block {
    margin-top: 1.6rem;
  }
}

.discount,
.total-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-number {
  color: $accent;
}

.total-block {
  margin-top: 2.4rem;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.total-block-text {
  color: $dark;
}
