<div class="page-content" *ngIf="order">
  <div class="page-container">
    <a [routerLink]="['/cabinet', 'orders']" class="back-link">
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>Заказы</span>
    </a>

    <div class="order-status">
      {{
        order.status === "CREATED" || order.status === "SIGNED"
          ? "Черновик"
          : order.status === "UNPAID"
          ? "Ожидает оплаты"
          : order.status === "READY"
          ? "Оформлен"
          : order.status === "CONFIRMED"
          ? "Подтвержден"
          : null
      }}
    </div>

    <div class="order-info">
      <div class="order-date">
        {{ order.dt_creation | date: "d MMMM y, HH:mm" }}
      </div>
    </div>
    <div class="order-address">{{ order.address }}</div>
  </div>

  <!-- questionnaires -->
  <ul class="questionnaires">
    <li class="questionnaire" *ngFor="let questionnaire of order.items">
      <div class="questionnaire-wrapper">
        <div class="questionnaire-top">
          <div class="questionnaire-fio">{{ questionnaire.fio }}</div>
          <div class="ext-id" *ngIf="questionnaire.ext_id">
            № {{ questionnaire.ext_id }}
          </div>
        </div>
        <div
          class="questionnaire-service"
          *ngFor="let service of questionnaire.services"
        >
          <div class="service-body">
            <div class="service-name">{{ service.name }}</div>
            <div class="service-price">
              {{ service.price }}{{ service.priceType }}
            </div>
          </div>
        </div>
      </div>

      <a
        [routerLink]="['documents']"
        [queryParams]="{ questionnaireId: questionnaire.id_anketa }"
        class="document-link"
      >
        <svg>
          <use xlink:href="assets/sprites/icons.svg#paper-clip"></use>
        </svg>
        <span>Документы по заказу</span>
      </a>
    </li>
  </ul>

  <div class="page-container">
    <div class="total-block">
      <div class="total-block-text">Итого:</div>
      <div class="total-price">{{ order.sum }}₽</div>
    </div>

    <a [routerLink]="['/cabinet', 'orders', 'results']" class="get-results"
      >Как получить результаты?</a
    >
  </div>
</div>
