<div class="page-content" *ngIf="order && order.items">
  <div class="page-container">
    <a [routerLink]="['/cabinet', 'orders']" class="back-link">
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>Заказы</span>
    </a>

    <div class="order-top">
      <div class="order-number">Заказ №{{ order.id }}</div>
      <div
        *ngIf="order.status"
        class="order-status"
        [ngClass]="{
          draft: order.status === 'CREATED' || order.status === 'SIGNED',
          confirmed: order.status === 'CONFIRMED',
          'not-confirmed':
            order.status === 'READY' ||
            order.status === 'READY_PART_CONFIRMED' ||
            order.status === 'UNPAID_REFUSED' ||
            order.status === 'UNPAID_ERROR'
        }"
      >
        <svg
          *ngIf="
            order.status === 'UNPAID_PROCESSING' ||
            order.status === 'READY_PROCESSING'
          "
          class="order-status-spinner"
        >
          <use xlink:href="assets/sprites/icons.svg#cached"></use>
        </svg>
        <span>{{
          order.status === "CREATED" || order.status === "SIGNED"
            ? "Черновик"
            : order.status === "UNPAID"
            ? "Ожидает оплаты"
            : order.status === "CONFIRMED"
            ? "Подтвержден"
            : order.status === "READY"
            ? "Не подтвержден"
            : order.status === "READY_PROCESSING"
            ? "Передача данных"
            : order.status === "READY_PART_CONFIRMED"
            ? "Частично подтвержден"
            : order.status === "UNPAID_REFUSED" ||
              order.status === "UNPAID_ERROR"
            ? "Ошибка оплаты"
            : order.status === "UNPAID_PROCESSING" ||
              order.status === "UNPAID_REGISTERED"
            ? "Обработка оплаты..."
            : null
        }}</span>
      </div>
    </div>

    <div
      class="warning-message"
      [ngClass]="{
        'payment-processing':
          order.status === 'UNPAID_PROCESSING' ||
          order.status === 'UNPAID_REGISTERED',
        'partially-confirmed': order.status === 'READY_PART_CONFIRMED',
        'data-transmission': order.status === 'READY_PROCESSING',
        'not-confirmed': order.status === 'READY',
        'data-error': order.status === 'UNPAID_ERROR',
        'payment-error': order.status === 'UNPAID_REFUSED'
      }"
      *ngIf="
        order.status === 'UNPAID_PROCESSING' ||
        order.status === 'UNPAID_REGISTERED' ||
        order.status === 'READY' ||
        order.status === 'READY_PART_CONFIRMED' ||
        order.status === 'UNPAID_REFUSED' ||
        order.status === 'UNPAID_ERROR' ||
        order.status === 'READY_PROCESSING'
      "
    >
      {{
        order.status === "UNPAID_PROCESSING" ||
        order.status === "UNPAID_REGISTERED"
          ? "Дождитесь проведения онлайн-оплаты,
      чтобы воспользоваться услугами."
          : order.status === "READY_PROCESSING"
          ? "Дождитесь окончания передачи данных,
        чтобы воспользоваться услугами."
          : order.status === "READY"
          ? "К сожалению ваш заказ не удалось обработать, обратитесь в поддержку."
          : order.status === "READY_PART_CONFIRMED"
          ? "К сожалению ваш заказ обработан не полностью, обратитесь в поддержку."
          : order.status === "UNPAID_REFUSED"
          ? "К сожалению вашу оплату не удалось обработать, обратитесь в поддержку."
          : order.status === "UNPAID_ERROR"
          ? "К сожалению ваши данные не удалось проверить, обратитесь в поддержку."
          : null
      }}
    </div>

    <a
      [routerLink]="['/cabinet', 'orders', 'support-service', order.id]"
      class="support-link"
      >Служба поддержки</a
    >

    <div class="order-info">
      <div class="order-date">
        {{ order.dt_creation | date: "d MMMM y, HH:mm" }}
      </div>
    </div>
    <div class="order-address">{{ order.address }}</div>
  </div>

  <!-- questionnaires -->
  <ul class="questionnaires">
    <li class="questionnaire" *ngFor="let questionnaire of order.items">
      <div class="questionnaire-wrapper">
        <div class="questionnaire-top">
          <div class="ext-id" *ngIf="questionnaire.ext_id">
            Лабораторная заявка № {{ questionnaire.ext_id }}
          </div>
          <div class="questionnaire-fio">{{ questionnaire.fio }}</div>
        </div>
        <div
          class="questionnaire-service"
          *ngFor="let service of questionnaire.services"
        >
          <div class="service-body">
            <div class="service-name">{{ service.name }}</div>
            <div class="service-price">
              {{ service.price }}{{ service.priceType }}
            </div>
          </div>
        </div>
      </div>

      <a
        [routerLink]="['documents']"
        [queryParams]="{ questionnaireId: questionnaire.id_anketa }"
        class="document-link"
      >
        <svg>
          <use xlink:href="assets/sprites/icons.svg#paper-clip"></use>
        </svg>
        <span>Документы по заказу</span>
      </a>

      <div class="barcode" *ngIf="questionnaire.ext_id">
        <div class="barcode-content">
          <ngx-barcode6
            bc-font-size="23"
            [bc-value]="questionnaire.ext_id"
            [bc-display-value]="true"
            bc-text-margin="0"
            bc-margin-top="-1"
            [bc-font]="'Open Sans'"
            bc-font-options="bold"
          ></ngx-barcode6>
          <button
            (click)="openBottomSheet(questionnaire.ext_id)"
            class="icon-button expand-button"
          >
            <svg width="2.4rem" height="2.4rem">
              <use xlink:href="assets/sprites/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div class="page-container">
    <div class="discount" *ngIf="order.utm_discount_value">
      <span>Скидка</span>
      <span class="discount-number"
        >-{{ order.sum - order.total | number }} ({{
          order.utm_discount_type === "percent"
            ? order.utm_discount_value + "%"
            : null
        }})</span
      >
    </div>

    <div class="total-block">
      <div class="total-block-text">Итого:</div>
      <div class="total-price">{{ order.total }}&#8381;</div>
    </div>

    <a [routerLink]="['/cabinet', 'orders', 'results']" class="get-results"
      >Как получить результаты?</a
    >
  </div>
</div>
