@import "theme";
@import "vars";

.page-content {
  padding-bottom: 3rem;
}

.order-status {
  color: $light;
  padding: 0.3rem 1.1rem;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.34;
  background-color: $primary;
}

.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.7rem;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.order-number {
  line-height: 1.75;
}

.order-date {
  color: $gray;
  font-size: 1.2rem;
}

.order-address {
  margin-top: 0.7rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: $dark;
  line-height: 1.34;
  max-width: 80%;
}

.questionnaires {
  margin-top: 2.5rem;

  > * {
    &:not(:first-child) {
      margin-top: 2.4rem;
    }
  }
}

.questionnaire {
  padding: 0 $container-gap;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - #{$container-gap});
    height: 0.1rem;
    background-color: rgba($dark, 0.08);
  }
}

.questionnaire-fio {
  font-weight: 600;
}

.service-body {
  padding: 1.6rem 0;
  display: flex;
  margin-top: 0.4rem;
  align-items: flex-start;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.service-name {
  max-width: 61.5%;
  color: $dark;
}

.service-price {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
}

.total-block {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.total-price {
  font-size: 2.4rem;
  line-height: 1.17;
  font-weight: 700;
}

.get-results {
  display: block;
  margin-top: 2.8rem;
  color: $primary;
  font-weight: 600;
  text-decoration: none;
}

.ext-id {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $primary;
  font-size: 1.2rem;
  line-height: 1.34;
  margin-top: 0.4rem;
}

.questionnaire-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}
