<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a [routerLink]="['/cabinet', 'questionnaires']" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>

      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h1 class="page-title">Выберите законного представителя</h1>
  </div>

  <div class="representatives-container">
    <mat-radio-group
      aria-labelledby="Список законных представителей"
      class="representatives-radio-group"
      [(ngModel)]="selectedAdult"
      color="primary"
    >
      <div class="representative-body" *ngFor="let adult of adults$ | async">
        <mat-radio-button
          class="representative-radio-button"
          [value]="adult"
          #radioButton
        >
        </mat-radio-button>
        <div (click)="selectedAdult = adult" class="representative-button-info">
          <div class="representative-info-container">
            <span class="representative-name">
              <div class="representative-surname">{{ adult.surname }}</div>
              {{ adult.name }} {{ adult.patronymic }},
            </span>
            <span class="representative-age">
              {{ adult.age }}
              <span
                appPluralRu
                [value]="adult.age"
                [arVariants]="['год', 'года', 'лет']"
              ></span>
            </span>
          </div>
        </div>
      </div>
    </mat-radio-group>
  </div>

  <div class="buttons">
    <button class="button" (click)="selectAdult()" [disabled]="!selectedAdult">
      <span>Далее</span>
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#next"></use>
      </svg>
    </button>
  </div>
</div>
