@import "theme";

.confirm-text {
  color: $dark;
  margin-top: 0.8rem;

  > * {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.confirm-fio {
  display: block;
  font-weight: 600;
  margin-top: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.22;
}
