<div class="create-form-description">{{ "PLACE_OF_WORK" | translate }}</div>

<p class="notify">{{ "LEAVE_THESE_FIELDS" | translate }}</p>

<div class="form-controls" [formGroup]="workplace">
  <!-- company -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>{{ "PLACE_OF_WORK" | translate }}</mat-label>

      <input name="company" type="text" matInput formControlName="company" />

      <button
        *ngIf="workplace.get('company').value"
        (click)="workplace.get('company').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            workplace.get('company').touched && workplace.get('company').invalid
          "
          [errors]="workplace.get('company').errors"
          [errorMessages]="{
            bad_format: workplace.get('company').errors?.bad_format,
            bad_value: workplace.get('company').errors?.bad_value
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- company address -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>{{ "STUDY_ADDRESS" | translate }}</mat-label>

      <input
        name="company_address"
        type="text"
        matInput
        formControlName="company_address"
      />

      <button
        *ngIf="workplace.get('company_address').value"
        (click)="workplace.get('company_address').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            workplace.get('company_address').touched &&
            workplace.get('company_address').invalid
          "
          [errors]="workplace.get('company_address').errors"
          [errorMessages]="{
            bad_format: workplace.get('company_address').errors?.bad_format,
            bad_value: workplace.get('company_address').errors?.bad_value
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- position -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'JOB_POSITION' | translate }}</mat-label>

      <input name="position" type="text" matInput formControlName="position" />

      <button
        *ngIf="workplace.get('position').value"
        (click)="workplace.get('position').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            workplace.get('position').touched &&
            workplace.get('position').invalid
          "
          [errors]="workplace.get('position').errors"
          [errorMessages]="{
            bad_format: workplace.get('position').errors?.bad_format,
            bad_value: workplace.get('position').errors?.bad_value
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>
</div>
