<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a [routerLink]="['/cabinet', 'questionnaires']" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>

      <a class="close">Закрыть</a>
    </div>

    <form (submit)="submit()" [formGroup]="createForm">
      <div class="page-title">Создание формы</div>

      <div class="form-controls">
        <div formGroupName="firstStep">
          <input formControlName="searchTerm" />
          <select formControlName="category">
            <option value="one">One</option>
            <option value="two">Two</option>
          </select>
        </div>
        <div formGroupName="secondStep">
          <input formControlName="surname" type="text" />
          <input type="date" formControlName="date" />
        </div>
      </div>
    </form>
  </div>
</div>
