<div class="location-bar">
  <div class="location-bar-content">
    <div class="selected-city" (click)="showCityList = true">
      <div class="selected-city-text">
        {{
          currentLocation?.name === "Moscow"
            ? ("MOSCOW" | translate)
            : currentLocation?.name
        }}
      </div>
      <svg class="selected-city-icon" width="1.35rem" height="0.6rem">
        <use xlink:href="assets/sprites/icons.svg#arrow-down"></use>
      </svg>
    </div>
    <div class="spacer"></div>
    <a href="tel:88002343333" class="phone-link">8 (800) 234 - 33 - 33</a>
    <app-city-select
      (selectCity)="selectCity($event)"
      [exclude]="'.selected-city'"
      (clickOutside)="showCityList = false"
      *ngIf="showCityList"
      class="location-bar-select"
      [cities]="cities"
    ></app-city-select>
  </div>
</div>
