<div class="page-content" *ngIf="points$ | async as points">
  <div class="page-container">
    <div class="page-top">
      <a
        [routerLink]="[
          '/cabinet',
          'services-registration',
          'questions',
          servicesRegistration.order.id
        ]"
        class="back-link"
      >
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Вопросы</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h1 class="page-title">Выберите точку обслуживания</h1>
  </div>

  <div class="select-points">
    <mat-radio-group [(ngModel)]="selectedId" color="primary">
      <mat-radio-button *ngFor="let point of points" [value]="point.id">
        <div class="point-name">{{ point.name }}</div>
        <div class="point-address">{{ point.address }}</div>
      </mat-radio-button>
    </mat-radio-group>

    <div class="buttons">
      <button class="button" (click)="selectPoint()" [disabled]="!selectedId">
        <span>Далее</span>
        <svg width="1.6rem" height="1.6rem">
          <use xlink:href="assets/sprites/icons.svg#next"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
