<div class="page-content">
  <div class="page-container">
    <h1 class="page-title">Заказы</h1>

    <!-- todo: доделать -->
    <!-- <div class="form-control select-control">
      <mat-form-field appearance="outline">
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type.value">{{
            type.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <ng-container *ngIf="!orders.length">
      <div class="subtitle-text">
        <p>У вас пока нет ни одного заказа.</p>
      </div>

      <div class="document-image">
        <img
          src="assets/questionnaire/undraw_add_document.svg"
          alt="undraw add document"
        />
      </div>
    </ng-container>
  </div>

  <!-- orders -->
  <div class="orders-container" *ngIf="orders.length">
    <ul class="orders-list">
      <li class="order-item" *ngFor="let order of orders">
        <a [routerLink]="['/cabinet', 'orders', order.id]" class="order">
          <div class="order-top">
            <div class="order-top-info">
              <div class="order-date">
                {{ order.dt_creation | date: "d MMM, y, h:mm" }}
              </div>
              <div class="order-address">{{ order.shortAddress }}</div>
            </div>
            <div class="order-status">
              {{
                order.status === "CREATED" || order.status === "SIGNED"
                  ? "Черновик"
                  : order.status === "UNPAID"
                  ? "Ожидает оплаты"
                  : order.status === "READY"
                  ? "Оформлен"
                  : order.status === "CONFIRMED"
                  ? "Выполнен"
                  : null
              }}
            </div>
          </div>
          <div class="orders-users">
            <div class="order-user" *ngFor="let user of order.services">
              {{ user.userName }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="buttons">
    <button class="button" [routerLink]="['/cabinet', 'questionnaire']">
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#plus"></use>
      </svg>
      <span>Новый заказ</span>
    </button>
  </div>
</div>
