<div class="page-content" [hidden]="isLoading">
  <div class="page-container">
    <h1 class="page-title">Заказы</h1>

    <div class="form-control select-control">
      <mat-form-field appearance="outline">
        <mat-select
          [(value)]="selectedFilter"
          (selectionChange)="filterChange($event)"
        >
          <mat-option *ngFor="let type of types" [value]="type.value">{{
            type.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ng-container *ngIf="!filteredOrders.length">
      <div class="subtitle-text">
        <p>У вас пока нет ни одного заказа.</p>
      </div>

      <div class="document-image">
        <img
          src="assets/questionnaire/undraw_add_document.svg"
          alt="undraw add document"
        />
      </div>
    </ng-container>
  </div>

  <!-- orders -->
  <div class="orders-container" *ngIf="filteredOrders.length">
    <ul class="orders-list">
      <li class="order-item" *ngFor="let order of filteredOrders">
        <a [routerLink]="['/cabinet', 'orders', order.id]" class="order">
          <div class="order-top">
            <div class="order-number">Заказ №{{ order.id }}</div>
            <div class="order-status">
              {{
                order.status === "CREATED" || order.status === "SIGNED"
                  ? "Черновик"
                  : order.status === "UNPAID"
                  ? "Ожидает оплаты"
                  : order.status === "READY"
                  ? "Оформлен"
                  : order.status === "CONFIRMED"
                  ? "Подтвержден"
                  : null
              }}
            </div>
          </div>
          <div class="order-info">
            <div class="order-date">
              {{ order.dt_creation | date: "d MMMM y, HH:mm" }}
            </div>
            <div class="order-address">{{ order.shortAddress }}</div>
          </div>
          <div class="order-questionnaires">
            <div
              class="order-questionnaire"
              *ngFor="let questionnaire of order.items"
            >
              <div class="questionnaire-fio">
                {{ questionnaire.fio }}
              </div>
              <div class="ext-id" *ngIf="questionnaire.ext_id">
                № {{ questionnaire.ext_id }}
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="buttons">
    <button class="button" [routerLink]="['/cabinet', 'questionnaires']">
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#plus"></use>
      </svg>
      <span>Новый заказ</span>
    </button>
  </div>
</div>

<!-- loader -->
<div class="loader-container" [hidden]="!isLoading">
  <div class="loader">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
