@import "theme";
@import "vars";

.orders-list {
  margin-top: 1.6rem;
}

.order {
  display: block;
  color: $text;
  text-decoration: none;
  padding: 1.2rem $container-gap;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - #{$container-gap});
    height: 0.1rem;
    background-color: rgba($dark, 0.08);
  }
}

.order-top {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  line-height: 1.34;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.4rem;
    }
  }
}

.order-top-info {
  > * {
    &:not(:first-child) {
      margin-top: 0.4rem;
    }
  }
}

.order-status {
  color: $light;
  padding: 0.3rem 1.12rem;
  flex-shrink: 0;
  background-color: lighten($primary, 17.95%);
}

.order-date {
  font-weight: 600;
}

.orders-users {
  margin-top: 0.8rem;

  > * {
    &:not(:first-child) {
      margin-top: 0.4rem;
    }
  }
}

.order-user {
  font-weight: 600;
}
