<div class="page-content">
  <div class="page-container">
    <h1 class="page-title">Заказы</h1>
    <div class="subtitle-text">
      <p>У вас пока нет ни одного заказа.</p>
    </div>
    <div class="document-image">
      <img
        src="assets/questionnaire/undraw_add_document.svg"
        alt="undraw add document"
      />
    </div>
  </div>

  <div class="buttons">
    <button class="button">
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#plus"></use>
      </svg>
      <span>Новый заказ</span>
    </button>
  </div>
</div>
