<div class="page-content">
  <div class="page-container" [class.full-height]="!questionnaires.length">
    <h1 class="page-title">Мои анкеты</h1>
    <div class="subtitle-text">
      <p>
        {{
          questionnaires.length
            ? "Выберите анкету для заказа услуг"
            : "Вы не добавили ни одной анкеты."
        }}
      </p>
    </div>
    <div class="document-image" *ngIf="!questionnaires.length">
      <img
        src="assets/questionnaire/undraw_add_document.svg"
        alt="undraw add document"
      />
    </div>
  </div>

  <!-- questionnaires -->
  <div class="questionnaires-container" *ngIf="questionnaires.length">
    <ul class="questionnaires">
      <li
        class="questionnaire"
        *ngFor="let questionnaire of questionnaires; trackBy: trackByFn"
      >
        <!-- adult -->
        <div
          class="questionnaire-body adult"
          [class.small-offset]="questionnaire.children?.length"
        >
          <mat-checkbox
            #checkbox
            [(ngModel)]="questionnaire.checked"
            (ngModelChange)="detectChecked()"
            class="questionnaire-checkbox"
            color="primary"
          >
          </mat-checkbox>
          <div
            class="questionnaire-content"
            (click)="
              questionnaire.checked = !questionnaire.checked; detectChecked()
            "
          >
            <div class="questionnaire-info">
              <div class="questionnaire-personal-info">
                <div class="questionnaire-name">
                  {{ questionnaire.surname }} <br />
                  {{ questionnaire.name }} {{ questionnaire.patronymic }}
                </div>
                <div class="questionnaire-age">
                  {{ questionnaire.age }}
                  <span
                    appPluralRu
                    [value]="questionnaire.age"
                    [arVariants]="['год', 'года', 'лет']"
                  ></span>
                </div>
                <div class="draft" *ngIf="questionnaire.draft">
                  Анкета заполнена не полностью
                </div>
              </div>
            </div>

            <!-- actions -->
            <div class="actions" (click)="$event.stopPropagation()">
              <button class="icon-button big" type="button">
                <svg width="1.5rem" height="1.5rem">
                  <use xlink:href="assets/sprites/icons.svg#pen"></use>
                </svg>
              </button>
              <button
                type="button"
                class="icon-button big"
                (click)="openDeleteDialog(questionnaire)"
              >
                <svg width="1.2rem" height="1.4rem">
                  <use xlink:href="assets/sprites/icons.svg#delete"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- child -->
        <ng-container *ngIf="questionnaire.children?.length">
          <div
            class="questionnaire-body child"
            *ngFor="let child of questionnaire.children; trackBy: trackByFn"
          >
            <mat-checkbox
              #checkbox
              [(ngModel)]="child.checked"
              (ngModelChange)="detectChecked()"
              class="questionnaire-checkbox"
              color="primary"
            >
            </mat-checkbox>
            <div
              class="questionnaire-content"
              (click)="child.checked = !child.checked; detectChecked()"
            >
              <div class="questionnaire-info">
                <div class="child-icon">
                  <svg>
                    <use xlink:href="assets/sprites/icons.svg#little-kid"></use>
                  </svg>
                </div>
                <div class="questionnaire-personal-info">
                  <div class="questionnaire-name">
                    {{ child.surname }} <br />
                    {{ child.name }} {{ child.patronymic }}
                  </div>
                  <div class="questionnaire-age">
                    {{ child.age }}
                    <span
                      appPluralRu
                      [value]="child.age"
                      [arVariants]="['год', 'года', 'лет']"
                    ></span>
                  </div>
                  <div class="draft" *ngIf="child.draft">
                    Анкета заполнена не полностью
                  </div>
                </div>
              </div>

              <!-- actions -->
              <div class="actions" (click)="$event.stopPropagation()">
                <button class="icon-button big" type="button">
                  <svg width="1.5rem" height="1.5rem">
                    <use xlink:href="assets/sprites/icons.svg#pen"></use>
                  </svg>
                </button>
                <button
                  type="button"
                  class="icon-button big"
                  (click)="openDeleteDialog(child)"
                >
                  <svg width="1.2rem" height="1.4rem">
                    <use xlink:href="assets/sprites/icons.svg#delete"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>

  <div class="buttons group">
    <button class="button primary" (click)="openBottomSheet()">
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#plus"></use>
      </svg>
      <span>Добавить анкету</span>
    </button>
    <button class="button" [disabled]="!checkedQuestionnaires.length">
      <span>Выбор услуг</span>
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#next"></use>
      </svg>
    </button>
  </div>
</div>
