<div class="page-content">
  <div class="page-container" [hidden]="isLoading">
    <h1 class="page-title">Анкеты</h1>
    <div class="subtitle-text">
      <p>
        {{
          questionnaires.length
            ? "Выберите анкету для заказа услуг"
            : "Вы не добавили ни одной анкеты."
        }}
      </p>
    </div>
    <div class="document-image" *ngIf="!questionnaires.length">
      <img
        src="assets/questionnaire/undraw_add_document.svg"
        alt="undraw add document"
      />
    </div>
  </div>

  <!-- loader -->
  <div class="loader-container" [hidden]="!isLoading">
    <div class="loader">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>

  <!-- questionnaires -->
  <div class="questionnaires-container" *ngIf="questionnaires.length">
    <ul class="questionnaires">
      <li
        class="questionnaire"
        *ngFor="let questionnaire of questionnaires; trackBy: trackByFn"
      >
        <!-- adult -->
        <div
          class="questionnaire-body adult"
          [class.small-offset]="questionnaire.children?.length"
        >
          <mat-checkbox
            (change)="toggleCheck($event.checked, questionnaire)"
            #checkbox
            class="questionnaire-checkbox"
            color="primary"
            [class.hidden]="questionnaire.draft"
          >
          </mat-checkbox>
          <div
            class="questionnaire-content"
            (click)="selectQuestionnaire(checkbox, questionnaire)"
          >
            <div class="questionnaire-info">
              <div class="questionnaire-personal-info">
                <div class="questionnaire-fio">
                  <ng-container
                    *ngIf="
                      questionnaire.surname || questionnaire.name;
                      else templateAdultName
                    "
                  >
                    <div class="questionnare-surname">
                      {{ questionnaire.surname }}
                    </div>
                    {{ questionnaire.name }} {{ questionnaire.patronymic }}
                  </ng-container>
                  <ng-template #templateAdultName> (не заполнено) </ng-template>
                </div>
                <div class="questionnaire-age" *ngIf="questionnaire.age < 200">
                  {{ questionnaire.age }}
                  <span
                    appPluralRu
                    [value]="questionnaire.age"
                    [arVariants]="['год', 'года', 'лет']"
                  ></span>
                </div>
                <div class="draft" *ngIf="questionnaire.draft">
                  Анкета заполнена не полностью
                </div>
              </div>
            </div>

            <!-- actions -->
            <div class="actions" (click)="$event.stopPropagation()">
              <button
                *ngIf="!questionnaire.draft"
                class="icon-button big edit-questionnaire"
                [routerLink]="[
                  '/cabinet',
                  'questionnaires',
                  'questionnaire',
                  questionnaire.id
                ]"
                [queryParams]="{ step: 1 }"
                type="button"
              >
                <svg width="1.5rem" height="1.5rem">
                  <use xlink:href="assets/sprites/icons.svg#pen"></use>
                </svg>
              </button>
              <button
                type="button"
                class="icon-button big"
                (click)="openDeleteDialog(questionnaire)"
              >
                <svg width="1.2rem" height="1.4rem">
                  <use xlink:href="assets/sprites/icons.svg#delete"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- child -->
        <ng-container *ngIf="questionnaire.children?.length">
          <div
            class="questionnaire-body child"
            *ngFor="let child of questionnaire.children; trackBy: trackByFn"
          >
            <mat-checkbox
              (change)="toggleCheck($event.checked, child)"
              #checkbox
              class="questionnaire-checkbox"
              color="primary"
              [class.hidden]="child.draft"
            >
            </mat-checkbox>
            <div
              class="questionnaire-content"
              (click)="selectQuestionnaire(checkbox, child)"
            >
              <div class="questionnaire-info">
                <div class="child-icon">
                  <svg>
                    <use xlink:href="assets/sprites/icons.svg#little-kid"></use>
                  </svg>
                </div>
                <div class="questionnaire-personal-info">
                  <div class="questionnaire-fio">
                    <ng-container
                      *ngIf="
                        child.surname || child.name;
                        else templateChildName
                      "
                    >
                      <div class="questionnare-surname">
                        {{ child.surname }}
                      </div>
                      {{ child.name }} {{ child.patronymic }}
                    </ng-container>
                    <ng-template #templateChildName>
                      (не заполнено)
                    </ng-template>
                  </div>
                  <div class="questionnaire-age" *ngIf="child.age < 200">
                    {{ child.age }}
                    <span
                      appPluralRu
                      [value]="child.age"
                      [arVariants]="['год', 'года', 'лет']"
                    ></span>
                  </div>
                  <div class="draft" *ngIf="child.draft">
                    Анкета заполнена не полностью
                  </div>
                </div>
              </div>

              <!-- actions -->
              <div class="actions" (click)="$event.stopPropagation()">
                <button
                  *ngIf="!child.draft"
                  class="icon-button big edit-questionnaire"
                  type="button"
                  [routerLink]="[
                    '/cabinet',
                    'questionnaires',
                    'questionnaire',
                    child.id
                  ]"
                  [queryParams]="{ step: 1 }"
                >
                  <svg width="1.5rem" height="1.5rem">
                    <use xlink:href="assets/sprites/icons.svg#pen"></use>
                  </svg>
                </button>
                <button
                  type="button"
                  class="icon-button big"
                  (click)="openDeleteDialog(child)"
                >
                  <svg width="1.2rem" height="1.4rem">
                    <use xlink:href="assets/sprites/icons.svg#delete"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>

  <div class="buttons group">
    <button class="button primary" (click)="openBottomSheet()">
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#plus"></use>
      </svg>
      <span>Добавить анкету</span>
    </button>
    <button
      (click)="goToServicesRegistration()"
      class="button"
      [disabled]="
        !checkedQuestionnairesIds.length && enableOrderCreation$ | async
      "
    >
      <span>Выбор услуг</span>
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#next"></use>
      </svg>
    </button>
  </div>
</div>
