<ng-container *ngIf="errors">
  <ng-container *ngFor="let error of errors | keyvalue">
    <div
      class="error-message"
      *ngIf="errorMessages && errorMessages[error.key]; else defaultMessages"
    >
      {{ errorMessages[error.key] }}
    </div>
    <ng-template #defaultMessages>
      <ng-container [ngSwitch]="error.key">
        <ng-container *ngSwitchCase="'required'">
          {{
            errorMessages && errorMessages["required"]
              ? errorMessages["required"]
              : ("FIELD_REQUIRED" | translate)
          }}
        </ng-container>
        <ng-container *ngSwitchCase="'email'">
          Введите корректный email
        </ng-container>
        <ng-container *ngSwitchCase="'minlength'">
          {{
            errorMessages && errorMessages["minlength"]
              ? errorMessages["minlength"]
              : "Минимальная длина: " +
                error.value["requiredLength"] +
                " символов"
          }}
        </ng-container>
        <ng-container *ngSwitchCase="'incorrect_name_length'">
          {{
            errorMessages && errorMessages["incorrect_name_length"]
              ? errorMessages["incorrect_name_length"]
              : "Превышено максимальное количество символов"
          }}
        </ng-container>
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>
