@import "theme";
@import "vars";

.page-content {
  padding-bottom: 8rem;
  position: relative;
}

.page-container {
  overflow-x: hidden;
}

.fio {
  font-weight: 700;
}

.close {
  margin-top: 0;
}

.age {
  color: $gray;
  font-weight: 400;
}

.document-header {
  padding: 1.6rem $container-gap 0.8rem;
  width: 100%;
  background-color: $light;
  position: sticky;
  top: $header-height;
  left: 0;

  &.fixed {
    box-shadow: 0 5px 8px rgb(147, 147, 147, 0.14);
    width: 100%;
    z-index: 101;
  }

  + * {
    margin-top: 1.2rem;
  }
}

.document-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.6rem;
    }
  }
}

.document-edit {
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $primary;
  }
}

.back-link {
  margin-top: 0;
}
