<div class="page-content" *ngIf="order">
  <div class="page-container">
    <div class="response-content">
      <img
        class="response-image"
        src="assets/cabinet/success-response.svg"
        alt="Успешно"
      />
      <div class="response-text">
        <p>{{ text }}</p>
        <p>
          Оформленные документы будут высланы вам на e-mail. Если потребуется вы
          можете распечатать документы в лабаротории.
        </p>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button type="button" [routerLink]="['/cabinet', 'orders']" class="button">
      <span>К заказам</span>
    </button>
  </div>
</div>
