<footer class="footer" style="background-image: url(assets/home/footer-bg.svg)">
  <div class="page-container">
    <div class="footer-block">
      <div class="footer-description">
        <p class="footer-description-caption">
          Остались вопросы? <br />
          Напишите нам
        </p>
        <a
          href="mailto:info.lab@rzd-medicine.ru"
          class="footer-description-link"
        >
          info.lab@rzd-medicine.ru
        </a>
      </div>
      <div class="footer-description">
        <p class="footer-description-caption">или позвоните</p>
        <a href="tel:88002343333" class="footer-description-link"
          >8 800 234 - 33 - 33</a
        >
      </div>
    </div>
    <div class="footer-block footer-block-nav">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item nav-questions" [routerLink]="['/']">
            <a href="#test-necessity">Для чего нужен ПЦР тест?</a>
            <a href="#how-works">Как происходит сдача теста?</a>
          </li>
          <li class="footer-nav-item">
            <a [routerLink]="['/services']">УСЛУГИ</a>
          </li>
          <li class="footer-nav-item">
            <a [routerLink]="['/service-points']">ТОЧКИ ОБСЛУЖИВАНИЯ</a>
          </li>
          <li class="footer-nav-item" [routerLink]="['/']">
            <a href="#faq">FAQ</a>
          </li>
          <li class="footer-nav-item">
            <a
              href="assets/files/Приложение №5 Правила подготовки.pdf"
              download
              target="_blank"
              >ПРАВИЛА ПОДГОТОВКИ</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="assets/files/1.Лицензия на медицинскую деятельность ЧУЗ ЦКБ РЖД-Медицина от 27.07.2020г. (новейшая).pdf"
              download
              target="_blank"
              >Лицензия #ЛО-77-01-020135 от 27.07.20 на осуществление
              медицинской деятельности. Адрес мест осуществления деятельности
              согласно приложению</a
            >
          </li>
          <li class="footer-nav-item">
            <a [routerLink]="['/legal-information']">ИНФОРМАЦИЯ</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-block footer-bottom">
      <div class="footer-bottom-text">«РЖД - Медицина», 2021</div>
      <ul class="footer-socials">
        <li class="footer-social">
          <a href="https://vk.com/rzd_medicine" target="_blank">
            <svg width="2.2rem" height="1.283rem">
              <use xlink:href="assets/sprites/icons.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social">
          <a href="https://www.facebook.com/rzdmedicine" target="_blank">
            <svg width="1.1rem" height="2.2rem">
              <use xlink:href="assets/sprites/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social">
          <a href="https://www.instagram.com/rzd_medicine/" target="_blank">
            <svg width="2.2rem" height="2.2rem">
              <use xlink:href="assets/sprites/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
