<footer class="footer" style="background-image: url(assets/home/footer-bg.svg)">
  <div class="page-container">
    <div class="footer-block">
      <div class="footer-description">
        <p
          class="footer-description-caption"
          [innerHTML]="'FOOTER.QUESTIONS' | translate"
        ></p>
        <a
          href="mailto:info.lab@rzd-medicine.ru"
          class="footer-description-link"
        >
          info.lab@rzd-medicine.ru
        </a>
      </div>
      <div class="footer-description">
        <p class="footer-description-caption">
          {{ "FOOTER.CALL" | translate }}
        </p>
        <a href="tel:88002343333" class="footer-description-link"
          >8 800 234 - 33 - 33</a
        >
      </div>
    </div>
    <div class="footer-block footer-block-nav">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item nav-questions" [routerLink]="['/']">
            <a href="#test-necessity">{{ "FOOTER.PCR_TEST" | translate }}</a>
            <a href="#how-works">{{ "FOOTER.TEST_TAKEN" | translate }}</a>
          </li>
          <li class="footer-nav-item">
            <a [routerLink]="['/services']">{{ "SERVICES" | translate }}</a>
          </li>
          <li class="footer-nav-item">
            <a [routerLink]="['/service-points']">{{
              "SERVICE_POINTS" | translate
            }}</a>
          </li>
          <li class="footer-nav-item" [routerLink]="['/']">
            <a href="#faq">FAQ</a>
          </li>
          <li class="footer-nav-item">
            <a
              href="assets/files/Приложение №5 Правила подготовки.pdf"
              download
              target="_blank"
              >{{ "FOOTER.BEFORE_TEST" | translate }}</a
            >
          </li>
          <li class="footer-nav-item">
            <a [routerLink]="['/legal-information']">{{
              "INFORMATION" | translate
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-block footer-bottom">
      <div class="footer-bottom-text">
        «{{ "RZD_MEDICINE" | translate }}», 2021
      </div>
      <ul class="footer-socials">
        <li class="footer-social">
          <a href="https://vk.com/rzd_medicine" target="_blank">
            <svg width="2.2rem" height="1.283rem">
              <use xlink:href="assets/sprites/icons.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social">
          <a href="https://www.facebook.com/rzdmedicine" target="_blank">
            <svg width="1.1rem" height="2.2rem">
              <use xlink:href="assets/sprites/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social">
          <a
            href="https://instagram.com/lab_rzd?utm_medium=copy_link"
            target="_blank"
          >
            <svg width="2.2rem" height="2.2rem">
              <use xlink:href="assets/sprites/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-license">
      <a
        href="assets/files/1.Лицензия на медицинскую деятельность ЧУЗ ЦКБ РЖД-Медицина от 27.07.2020г. (новейшая).pdf"
        download
        target="_blank"
        >{{ "LICENSE_FOR_IMPLEMENTATION" | translate }}</a
      >
    </div>
  </div>
</footer>
