@import "theme";

:host {
  ::ng-deep {
    .form-control
      .mat-form-field-appearance-outline
      .mat-form-field-subscript-wrapper {
      position: absolute;
      margin-top: 2.1rem;
    }
  }
}

.register-link {
  color: $primary-light;
  margin-top: 1.6rem;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.34;
  cursor: pointer;
}
