<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a
        [routerLink]="[
          '/cabinet',
          'services-registration',
          'select-point',
          order.id
        ]"
        class="back-link"
      >
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Точки обслуживания</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <div class="page-heading">
      <h1 class="page-title">Услуги</h1>
      <div class="change-selection-mode" (click)="changeSelectionMode()">
        {{ selectEach ? "Выбрать для всех" : "Выбрать для каждого" }}
      </div>
    </div>

    <div class="fios" [class.each-mode]="selectEach">
      <div class="fio" *ngFor="let item of order.items; let i = index">
        {{ item.fio }}

        <div class="services" *ngIf="selectEach">
          <mat-radio-group
            [(ngModel)]="separateSelected[i]"
            (ngModelChange)="selectionChange($event, order.items[i])"
            color="primary"
          >
            <mat-radio-button
              *ngFor="let service of services"
              [value]="service.id"
            >
              <div class="service-name">{{ service.name }}</div>
              <div class="service-price">
                {{ service.price }}{{ service.priceType }}
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>

  <div class="services" *ngIf="!selectEach">
    <mat-radio-group
      [(ngModel)]="selectedService"
      (ngModelChange)="selectionChange($event)"
      color="primary"
    >
      <mat-radio-button *ngFor="let service of services" [value]="service.id">
        <div class="service-name">{{ service.name }}</div>
        <div class="service-price">
          {{ service.price }}{{ service.priceType }}
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="page-container">
    <div class="total-sum">
      <span>Итого:</span>
      <span class="service-price">{{ order.sum }}&#8381;</span>
    </div>
  </div>
</div>

<div class="buttons">
  <button
    class="button"
    (click)="selectService()"
    [disabled]="!selectedService && !separateSelected.length"
  >
    <span>Далее</span>
    <svg width="1.6rem" height="1.6rem">
      <use xlink:href="assets/sprites/icons.svg#next"></use>
    </svg>
  </button>
</div>
