<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a
        [routerLink]="[
          '/cabinet',
          'services-registration',
          'select-point',
          order.id
        ]"
        class="back-link"
      >
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Точки обслуживания</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <div class="page-heading">
      <h1 class="page-title">Услуги</h1>
      <div
        class="change-selection-mode"
        *ngIf="order.items?.length > 1 && services.length"
        (click)="changeSelectionMode()"
      >
        {{ selectEach ? "Выбрать для всех" : "Выбрать для каждого" }}
      </div>
    </div>

    <div
      *ngIf="servicesLoaded && services.length"
      class="fios"
      [class.each-mode]="selectEach"
    >
      <div class="fio" *ngFor="let item of order.items; let i = index">
        {{ item.fio }}

        <div class="services" *ngIf="selectEach">
          <mat-radio-group
            [(ngModel)]="separateSelected[i]"
            (ngModelChange)="selectionChange($event, order.items[i])"
            color="primary"
          >
            <mat-radio-button
              *ngFor="let service of services"
              [value]="service.id"
            >
              <div class="radio-text">
                <div class="service-name">
                  <div>{{ service.name }} {{ service.duration }}</div>
                </div>

                <div class="service-price">
                  {{ service.price }}{{ service.priceType }}
                </div>
              </div>
              <div
                *ngIf="
                  service.shortName ===
                  'В случае необходимости дополнительного контроля результата и высокой загрузки лаборатории срок исполнения экспресс-теста может быть увеличен'
                "
                class="service-short-name"
              >
                {{ service.shortName }}
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>

  <div
    class="services"
    *ngIf="!selectEach && servicesLoaded && services.length"
  >
    <mat-radio-group
      [(ngModel)]="selectedService"
      (ngModelChange)="selectionChange($event)"
      color="primary"
    >
      <mat-radio-button *ngFor="let service of services" [value]="service.id">
        <div class="radio-text">
          <div class="service-name">
            <div>{{ service.name }} {{ service.duration }}</div>
          </div>

          <div class="service-price">
            {{ service.price }}{{ service.priceType }}
          </div>
        </div>
        <div
          *ngIf="
            service.shortName ===
            'В случае необходимости дополнительного контроля результата и высокой загрузки лаборатории срок исполнения экспресс-теста может быть увеличен'
          "
          class="service-short-name"
        >
          {{ service.shortName }}
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div
    class="page-container no-services"
    *ngIf="!services.length && servicesLoaded"
  >
    <p>
      В данной точке нет доступных вам услуг, вернитесь и выберите другую точку.
    </p>
  </div>

  <div
    class="page-container total-sum-container"
    *ngIf="servicesLoaded && services.length"
  >
    <div class="total-sum">
      <span>Итого:</span>
      <span class="service-price">{{ sum ? sum : 0 }}&#8381;</span>
    </div>
  </div>
</div>

<div class="buttons" *ngIf="servicesLoaded && services.length">
  <button
    class="button"
    [class.is-loading]="isLoading"
    (click)="selectService()"
    [disabled]="(!selectedService && !separateSelected.length) || isLoading"
  >
    <span>Далее</span>
    <svg width="1.6rem" height="1.6rem">
      <use xlink:href="assets/sprites/icons.svg#next"></use>
    </svg>
  </button>
</div>
