<div class="page-content" *ngIf="user">
  <form [formGroup]="editForm" class="edit-form">
    <div class="page-container" *ngIf="!submitted">
      <div class="page-top">
        <div class="spacer"></div>

        <a class="close" [routerLink]="['/']">{{ "CLOSE" | translate }}</a>
      </div>
      <h1 class="subtitle profile-title">Редактирование телефона</h1>

      <div class="form-controls">
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>{{ "MOBILE" | translate }}</mat-label>

            <input
              matInput
              type="text"
              inputmode="tel"
              name="notASearchField"
              autocomplete="off"
              formControlName="phone"
              (keypress)="handleKeypress($event)"
            />

            <button
              *ngIf="editForm.get('phone').value"
              (click)="editForm.get('phone').setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="
                  editForm.get('phone').touched && editForm.get('phone').invalid
                "
                [errors]="editForm.get('phone').errors"
                [errorMessages]="{
                  required: ('ENTER_YOUR_PHONE' | translate),
                  not_unique_phone:
                    editForm.get('phone').errors?.not_unique_phone,
                  pattern: ('INVALID_PHONE_FORMAT' | translate),
                  phone_bad_format: ('INVALID_PHONE_FORMAT' | translate)
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- sms confirm -->
    <app-sms-confirm
      [codeForm]="editForm.get('code')"
      *ngIf="submitted"
      [isEditPhone]="true"
      [smsInterval]="smsInterval"
      (submitted)="changeSubmitted($event)"
      [value]="editForm.get('phone').value"
      (submit)="submit()"
    ></app-sms-confirm>
  </form>
</div>

<div class="buttons">
  <button
    *ngIf="!submitted"
    [class.is-loading]="isLoading"
    type="button"
    (click)="checkPhone()"
    [disabled]="isLoading || editForm.get('phone').invalid"
    class="button"
  >
    <span>Подтвердить телефон</span>
  </button>
</div>
