<div class="create-container">
  <div class="create-options">
    <div class="create-option" (click)="selectQuestionnaire('adult')">
      <h4 class="subtitle create-title">{{ "FOR_ADULT" | translate }}</h4>
      <div class="create-text">
        {{ "ADD_PROFILE_FROM_18" | translate }}
      </div>
    </div>
    <div
      class="create-option"
      [class.disabled]="!data.questionnaires.length"
      (click)="selectQuestionnaire('child')"
    >
      <h4 class="subtitle create-title">{{ "FOR_CHILD" | translate }}</h4>
      <div class="create-text">
        {{
          data.questionnaires.length
            ? ("PROFILE_OF_CHILD_UNDER_18" | translate)
            : ("PROFILE_LEGAL_REPRESENTATIVE" | translate)
        }}
      </div>
    </div>
  </div>
</div>
