@import "theme";

.create-option {
  padding: 1.4rem 3.4rem 1.2rem 2rem;

  &.disabled {
    pointer-events: none;

    .create-title {
      opacity: 0.5;
    }

    .create-text {
      color: $error;
    }
  }

  &:first-child {
    padding-top: 2.2rem;
  }

  &:last-child {
    padding-bottom: 3.4rem;
  }
}

.mat-bottom-sheet-container {
  padding-left: 0;
}

.create-title {
  color: $primary;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.044rem;
}

.create-text {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  line-height: 1.34;
  color: $gray;
}
