<div class="create-container">
  <div class="create-options">
    <div class="create-option" (click)="selectQuestionnaire('adult')">
      <h4 class="create-title">Анкета для взрослого</h4>
      <div class="create-text">
        Можно добавить анкету взрослого начиная с 18 лет, которые будет
        проходить исследование вместе с вами.
      </div>
    </div>
    <div
      class="create-option"
      [class.disabled]="!data.questionnaires.length"
      (click)="selectQuestionnaire('kid')"
    >
      <h4 class="create-title">Анкета для ребенка</h4>
      <div class="create-text">
        Можно добавить анкету ребенка до 18 лет, законым представителем которого
        вы являетесь.
      </div>
    </div>
  </div>
</div>
