<div class="page-content">
  <div class="page-container">
    <h1 class="page-title">Мои анкеты</h1>
    <div class="subtitle-text">
      <p>Вы не добавили ни одной анкеты.</p>
    </div>
    <div class="document-image">
      <img
        src="assets/questionnaire/undraw_add_document.svg"
        alt="undraw add document"
      />
    </div>
  </div>

  <div class="buttons-group">
    <button class="button primary">
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#plus"></use>
      </svg>
      <span>Добавить анкету</span>
    </button>
    <button class="button" disabled>
      <span>Выбор услуг</span>
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#next"></use>
      </svg>
    </button>
  </div>
</div>
