<div class="page-content" *ngIf="order" [hidden]="isLoading">
  <div class="page-container">
    <div class="page-top">
      <a (click)="back()" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h1 class="page-title">Выберите способ оплаты</h1>
  </div>

  <div class="payment-selection">
    <mat-radio-group
      [(ngModel)]="selectedPayment"
      (ngModelChange)="resend = false"
      color="primary"
    >
      <mat-radio-button disabled [value]="'ONLINE'">
        Оплатить онлайн
      </mat-radio-button>
      <mat-radio-button disabled [value]="'TERMINAL'">
        Оплатить картой в инфокиоске
      </mat-radio-button>
      <mat-radio-button [value]="'ADMIN'">
        Оплатить у администратора
        <div class="additional-info" *ngIf="false">
          Возможно длительное ожидание
        </div>
        <!-- временно не отображается -->
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="buttons">
    <button
      type="button"
      (click)="pay()"
      [disabled]="!selectedPayment"
      class="button"
    >
      <span>Оплатить</span>
    </button>
  </div>
</div>

<!-- loader -->
<div class="loader-container" [hidden]="!isLoading">
  <div class="loader">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
