<div class="page-content" *ngIf="order" [hidden]="isLoading">
  <div class="page-container">
    <div class="page-top">
      <a (click)="back()" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h1 class="page-title">
      {{ isCorporatePayment ? "Способ оплаты" : "Выберите способ оплаты" }}
    </h1>
    <p *ngIf="isCorporatePayment" class="corp-text">
      Ваш заказ будет оплачен с корпоративного счета.
    </p>
  </div>

  <div class="payment-selection" *ngIf="!isCorporatePayment">
    <mat-radio-group
      [(ngModel)]="selectedPayment"
      (ngModelChange)="resend = false"
      color="primary"
    >
      <mat-radio-button
        [value]="'ONLINE'"
        [disabled]="!settings.enableOnlinePayment"
      >
        Оплатить онлайн
      </mat-radio-button>
      <mat-radio-button disabled [value]="'TERMINAL'">
        Оплатить картой в инфокиоске
      </mat-radio-button>
      <mat-radio-button [value]="'ADMIN'">
        <!-- [disabled]="order.id_point === 1115" -->
        Оплатить у администратора
        <div class="additional-info">Возможно длительное ожидание</div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="buttons">
    <button
      type="button"
      (click)="pay()"
      [disabled]="!selectedPayment && !isCorporatePayment"
      class="button"
    >
      <span> {{ isCorporatePayment ? "Подтвердить" : "Оплатить" }}</span>
    </button>
  </div>
</div>

<!-- loader -->
<div class="loader-container" [hidden]="!isLoading">
  <div class="loader">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
