@import "theme";

.home-inner-page {
  padding-bottom: 3.6rem;
}

.service-points-cards {
  margin-top: 3.2rem;

  > * {
    &:not(:first-child) {
      margin-top: 1.6rem;
    }
  }
}

.service-points-card {
  transition: box-shadow 0.2s;
  background-color: $light;
  padding: 2rem 1.2rem;
  color: $dark;
  border-bottom: 1px solid transparent;

  &:not(:hover) {
    border-bottom-color: #e5e5e5;
  }

  &.focused {
    box-shadow: 0 0 1rem rgba(120, 120, 120, 0.25);
  }
}

.search-block {
  position: relative;
  margin-top: 3rem;

  svg {
    position: absolute;
    top: 50%;
    right: 1.8rem;
    transform: translateY(-50%);
    fill: $placeholder;
  }
}

.search-control {
  width: 100%;
  border-radius: 0;
  padding: 1.1rem 4rem 1.1rem 1.8rem;
  border: 0.1rem solid #d3d3d3;
  font: 400 1.6rem/1.394 "Open Sans", sans-serif;
  appearance: none;

  &:focus {
    border-color: lighten($primary, 17.95%);
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
    color: $placeholder;
  }
}

.section-title {
  margin-top: 3rem;
}

.card-title {
  font-size: 1.8rem;
  line-height: 1.397;
}
