<div class="home-inner-page" *ngIf="points$ | async as points">
  <header class="home-inner-header">
    <h1 class="home-title">Точки обслуживания</h1>
  </header>
  <div class="page-container">
    <!-- search -->
    <div class="search-block">
      <input
        type="text"
        name="search"
        inputmode="search"
        placeholder="Введите адрес"
        class="search-control"
        [(ngModel)]="searchText"
      />
      <svg width="2rem" height="2rem">
        <use xlink:href="assets/sprites/icons.svg#search"></use>
      </svg>
    </div>

    <h2 class="section-title">
      <ng-container
        *ngIf="(points | search: searchText)?.length; else notFound"
      >
        {{ (points | search: searchText)?.length }}
        <span
          appPluralRu
          [value]="(points | search: searchText)?.length"
          [arVariants]="[
            'медицинский центр',
            'медицинских центра',
            'медицинских центров'
          ]"
        ></span>
      </ng-container>
      <ng-template #notFound>По вашему запросу ничего не найдено</ng-template>
    </h2>

    <div class="address-buttons">
      <button
        (click)="addressMode = 'map'"
        [class.stroke]="addressMode === 'map'"
        class="button primary service-detail-button"
      >
        На карте
      </button>
      <button
        (click)="addressMode = 'list'"
        [class.stroke]="addressMode === 'list'"
        class="button primary service-detail-button"
      >
        Списком
      </button>
    </div>

    <div class="service-points-cards" [hidden]="addressMode !== 'list'">
      <div
        [routerLink]="['/service-points', card.id]"
        class="service-points-card"
        #cards
        *ngFor="let card of points | search: searchText:'name'"
      >
        <h3 class="card-title">{{ card.name }}</h3>
        <div class="card-body">
          <div class="point-card-infocard">
            <div class="point-card-infocard-icon">
              <svg width="1.4rem" height="1.8rem">
                <use xlink:href="assets/sprites/icons.svg#gps"></use>
              </svg>
            </div>
            <span>{{ card.location }}</span>
          </div>
          <div class="point-card-infocard">
            <div class="point-card-infocard-icon">
              <svg width="1.5rem" height="1.5rem">
                <use xlink:href="assets/sprites/icons.svg#clock"></use>
              </svg>
            </div>
            <span>{{ card.worktime }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- map -->
  <div class="map-container" [hidden]="addressMode !== 'map'">
    <ya-map
      [center]="[55.751952, 37.600739]"
      [zoom]="9"
      [options]="mapOptions"
      [state]="{ controls: [] }"
    >
      <ya-placemark
        *ngFor="let point of points | search: searchText:'name'"
        [geometry]="[point.latitude, point.longtitude]"
        [options]="options"
        (yaclick)="selectedPoint = point"
      ></ya-placemark>
    </ya-map>

    <!-- point card -->
    <div class="point-card" [@slideUp] *ngIf="selectedPoint">
      <div class="point-card-top">
        <div class="point-card-name">
          {{ selectedPoint.name }}
        </div>
        <svg (click)="selectedPoint = null" class="point-card-close">
          <use xlink:href="assets/sprites/icons.svg#close"></use>
        </svg>
      </div>
      <div class="point-card-content">
        <div class="point-card-infocards">
          <div class="point-card-infocard">
            <div class="point-card-infocard-icon">
              <svg width="1.8rem" height="1.8rem">
                <use xlink:href="assets/sprites/icons.svg#gps"></use>
              </svg>
            </div>
            <span>{{ selectedPoint.address }}</span>
          </div>
          <div class="point-card-infocard">
            <div class="point-card-infocard-icon">
              <svg width="1.5rem" height="1.5rem">
                <use xlink:href="assets/sprites/icons.svg#clock"></use>
              </svg>
            </div>
            <span>{{ selectedPoint.worktime }}</span>
          </div>
        </div>
        <a
          [routerLink]="['/cabinet', 'questionnaires']"
          class="point-card-button button no-bg accent"
          >Записаться</a
        >
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
