<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a (click)="back()" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>

      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <form (submit)="submit()" [formGroup]="createForm" class="create-form">
      <h2 class="create-form-title">Шаг {{ currentStep }} из 5</h2>

      <app-basic-data
        [basicData]="currentGroup"
        *ngIf="currentStep === 1"
      ></app-basic-data>
    </form>
  </div>
</div>

<div class="buttons">
  <button type="button" (click)="next()" class="button">
    <span>Далее</span>
    <svg width="1.6rem" height="1.6rem">
      <use xlink:href="assets/sprites/icons.svg#next"></use>
    </svg>
  </button>
</div>
