@import "theme";
@import "./components/expansion-panel";

.home-inner-page {
  padding-bottom: 1rem;
}

.service-point-body {
  padding-top: 1.6rem;
}

.infocard-field {
  line-height: 1.394;

  &:not(:first-child) {
    margin-top: 1.6rem;
  }

  > * {
    &:not(:first-child) {
      margin-top: 1.2rem;
    }
  }

  &.infocard-contacts {
    margin-top: 2.4rem;
  }
}

.infocard-text {
  color: $dark;
}

.service-point-button {
  width: 100%;
  margin-top: 2.4rem;
}

.infocard-phone {
  color: $dark;
}

.services-block {
  margin-top: 4rem;
}

.custom-expansions {
  margin-top: 2.4rem;
}

.qr-link {
  justify-content: flex-start;
  padding-top: 0;
}
