<ng-container *ngIf="point$ | async as point">
  <div class="home-inner-page">
    <div class="page-container">
      <a [routerLink]="['/service-points']" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Точки обслуживания</span>
      </a>
    </div>

    <header class="home-inner-header">
      <h1 class="home-title">{{ point.name }}</h1>
    </header>

    <div class="page-container service-point-body">
      <div class="infocard-field">
        <div class="caption">Адрес:</div>
        <div class="infocard-text">
          {{ point.address }}
        </div>
      </div>
      <div class="infocard-field">
        <div class="caption">Время работы:</div>
        <div class="infocard-text">{{ point.worktime }}</div>
      </div>
      <div class="infocard-field">
        <div class="caption">Контакты:</div>
        <div
          class="infocard-text contacts"
          [innerHTML]="point.contacts | paragraphs"
        ></div>
      </div>
      <button class="button accent service-point-button">Записаться</button>
    </div>

    <!-- services block -->
    <div class="services-block">
      <div class="page-container">
        <h3 class="services-title">Список услуг</h3>
      </div>
      <div class="custom-expansions">
        <mat-expansion-panel
          hideToggle
          class="custom-expansion"
          *ngFor="let service of services$ | async"
        >
          <mat-expansion-panel-header
            [expandedHeight]="'9rem'"
            [collapsedHeight]="'9rem'"
          >
            <mat-panel-title>
              {{ service.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="custom-expansion-info">
            <p class="caption">Стоимость анализа:</p>
            <p>{{ service.price }} {{ service.priceType }}</p>
          </div>
          <div class="custom-expansion-info">
            <p class="caption">Срок исполнения:</p>
            <p>{{ service.duration }}</p>
          </div>

          <div class="custom-expansion-buttons">
            <a [routerLink]="['/auth', 'login']" class="button stroke"
              >Записаться</a
            >
            <a [routerLink]="['/services', service.id]" class="button no-bg"
              >Подробнее</a
            >
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ng-container>
