@import "theme";

.page-content {
  padding-bottom: 8rem;
}

.info-content {
  margin-top: 2.4rem;
}

.info-title {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.info-list {
  margin-top: 1.6rem;
  padding-left: 2rem;
  list-style-type: disc;
}

.send-results {
  margin-top: 1.6rem;
}

.send-results-checkbox {
  margin-top: 0.8rem;
  font: 400 1.6rem/1.5 "Open Sans", sans-serif;

  &.mat-checkbox-checked.mat-primary {
    ::ng-deep {
      .mat-checkbox-background {
        background-color: lighten($primary, 17.95%);
      }
    }
  }

  ::ng-deep {
    .mat-checkbox-inner-container {
      margin-top: 0.3rem;
    }

    .mat-checkbox-label {
      white-space: normal;
    }
  }
}

.send-results-text {
  margin-top: 1.4rem;
}
