<ng-container *ngIf="pageLoaded">
  <div class="page-content">
    <div class="page-container">
      <div class="page-top">
        <a [routerLink]="['/cabinet', 'questionnaires']" class="back-link">
          <svg width="1rem" height="1rem">
            <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
          </svg>
          <span>{{ "BACK" | translate }}</span>
        </a>

        <a class="close" [routerLink]="['/cabinet', 'questionnaires']">{{
          "CLOSE" | translate
        }}</a>
      </div>

      <div class="info-content">
        <ng-container
          *ngIf="isOnlyQuestionnaire && corpQuestionnaire; else content"
        >
          <p>
            {{ "YOU_HAVE_OPPORTUNITY" | translate }}
          </p>
        </ng-container>
        <ng-template #content>
          <p
            class="corporate-info"
            *ngIf="
              hasCorpQuestionnaires &&
              !isOnlyQuestionnaire &&
              !corpQuestionnaire
            "
          >
            <strong>{{ "PAY_ATTENTION" | translate }}</strong>
            {{ "SEVERAL_PROFILES_SELECTED" | translate }}
          </p>

          <h6
            class="info-title"
            [innerHTML]="'CORRECTNESS_OF_FILLING' | translate"
          ></h6>
          <ul class="info-list">
            <li>
              {{ "PROVIDE_TEST_RESULTS_FIRST" | translate }}
            </li>
            <li>
              {{ "PROVIDE_TEST_RESULTS_SECOND" | translate }}
            </li>
          </ul>

          <div class="send-results">
            <p class="send-results-label">
              <strong>{{ "EMIAS_DATA" | translate }}</strong>
              <a
                [routerLink]="[
                  '/cabinet',
                  'services-registration',
                  'qr-code-info'
                ]"
                class="hint-link"
              >
                <svg>
                  <use xlink:href="assets/sprites/icons.svg#hint"></use>
                </svg>
              </a>
            </p>
            <mat-checkbox
              class="send-results-checkbox"
              color="primary"
              [(ngModel)]="sendResults"
              >{{ "QR_CODE_EMIAS" | translate }}</mat-checkbox
            >

            <p
              class="send-results-text"
              *ngIf="sendResults"
              [innerHTML]="'DOWNLOAD_TEST_RESULTS' | translate"
            ></p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div
    class="buttons"
    *ngIf="!(isOnlyQuestionnaire && corpQuestionnaire); else buttonsGroup"
  >
    <button type="button" (click)="goToQuestions()" class="button">
      <span>{{ "BUTTON.NEXT" | translate }}</span>
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#next"></use>
      </svg>
    </button>
  </div>

  <ng-template #buttonsGroup>
    <div class="buttons group">
      <button
        type="button"
        (click)="corpQuestionnaire = false"
        class="button primary"
      >
        <span>{{ "REGULAR" | translate }}</span>
      </button>
      <button
        type="button"
        (click)="makeCorporateOrder()"
        [disabled]="!(enableCorpPayment$ | async)"
        class="button"
      >
        <span>{{ "CORPORATE" | translate }}</span>
      </button>
    </div>
  </ng-template>
</ng-container>
