<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a [routerLink]="['/cabinet', 'questionnaires']" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>

      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <div class="info-content">
      <h6 class="info-title">
        Проверьте правильность <br />
        заполнения анкет!
      </h6>
      <ul class="info-list">
        <li>
          Для предоставления результатов тестов на территории РФ - указывайте
          Паспорт гражданина РФ или Свидетельство о рождении
        </li>
        <li>
          Для международных поездок, рекомендуем указывать данные загранпаспорта
        </li>
      </ul>

      <div class="send-results">
        <p class="send-results-label">
          <strong>Данные для ЕМИАС</strong>
          <a
            [routerLink]="['/cabinet', 'services-registration', 'qr-code-info']"
            class="hint-link"
          >
            <svg>
              <use xlink:href="assets/sprites/icons.svg#hint"></use>
            </svg>
          </a>
        </p>
        <mat-checkbox
          class="send-results-checkbox"
          color="primary"
          [(ngModel)]="sendResults"
          >Мне нужен цифровой сертификат (QR-код) в ЕМИАС</mat-checkbox
        >

        <p class="send-results-text" *ngIf="sendResults">
          Для загрузки результатов теста на Госуслуги для получения QR-кода -
          указывайте паспорт гражданина РФ или Свидетельство о рождении, номер
          полиса <strong>ОМС</strong> и <strong>СНИЛС</strong>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <button type="button" (click)="goToCreation()" class="button">
    <span>Далее</span>
    <svg width="1.6rem" height="1.6rem">
      <use xlink:href="assets/sprites/icons.svg#next"></use>
    </svg>
  </button>
</div>
