@import "theme";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding-top: 6.4rem;
  min-height: 0rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  height: 100%;
  flex-direction: column;

  ::ng-deep {
    router-outlet + * {
      min-height: 0rem;
      height: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      display: flex;
      flex-direction: column;
    }
  }
}

.menu-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.65);
}

.close-menu-icon {
  stroke-width: 0.2rem;
  stroke: $light;
  position: absolute;
  right: 2rem;
  top: 4.2rem;
}
