<app-header></app-header>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-navigation-menu
  [class.is-visible]="navigationMenu$ | async"
></app-navigation-menu>
<app-user-menu [@slideInOut] *ngIf="userMenu$ | async"></app-user-menu>
<div
  (click)="closeMenus()"
  class="menu-overlay"
  *ngIf="(navigationMenu$ | async) || (userMenu$ | async)"
>
  <svg
    [class.left]="userMenu$ | async"
    class="close-menu-icon"
    width="1.5rem"
    height="1.5rem"
  >
    <use xlink:href="assets/sprites/icons.svg#close"></use>
  </svg>
</div>
