<div class="create-form-description">
  Адрес фактического проживания или нахождения в РФ
</div>

<div class="form-controls" [formGroup]="actualResidence">
  <!-- single -->
  <mat-checkbox
    class="address-single"
    color="primary"
    formControlName="adress_single"
    >Совпадает с местом регистрации</mat-checkbox
  >

  <!-- country -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Страна<span class="primary-color">*</span></mat-label>

      <input
        name="adress_fact_country"
        type="text"
        matInput
        formControlName="adress_fact_country"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_country').value"
        (click)="actualResidence.get('adress_fact_country').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_country').touched &&
            actualResidence.get('adress_fact_country').invalid
          "
          [errors]="actualResidence.get('adress_fact_country').errors"
          [errorMessages]="{
            required: 'Введите название страны'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- region -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Регион<span class="primary-color">*</span></mat-label>

      <input
        name="adress_fact_region"
        type="text"
        matInput
        formControlName="adress_fact_region"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_region').value"
        (click)="actualResidence.get('adress_fact_region').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_region').touched &&
            actualResidence.get('adress_fact_region').invalid
          "
          [errors]="actualResidence.get('adress_fact_region').errors"
          [errorMessages]="{
            required: 'Введите название региона'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- area -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Район<span class="primary-color">*</span></mat-label>

      <input
        name="adress_fact_area"
        type="text"
        matInput
        formControlName="adress_fact_area"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_area').value"
        (click)="actualResidence.get('adress_fact_area').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_area').touched &&
            actualResidence.get('adress_fact_area').invalid
          "
          [errors]="actualResidence.get('adress_fact_area').errors"
          [errorMessages]="{
            required: 'Введите название района'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- area -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label
        >Город (нас. пункт)<span class="primary-color">*</span></mat-label
      >

      <input
        type="text"
        name="adress_fact_city"
        matInput
        formControlName="adress_fact_city"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_city').value"
        (click)="actualResidence.get('adress_fact_city').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_city').touched &&
            actualResidence.get('adress_fact_city').invalid
          "
          [errors]="actualResidence.get('adress_fact_city').errors"
          [errorMessages]="{
            required: 'Введите название населенного пункта'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- street -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Улица<span class="primary-color">*</span></mat-label>

      <input
        name="adress_fact_street"
        type="text"
        matInput
        formControlName="adress_fact_street"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_street').value"
        (click)="actualResidence.get('adress_fact_street').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_street').touched &&
            actualResidence.get('adress_fact_street').invalid
          "
          [errors]="actualResidence.get('adress_fact_street').errors"
          [errorMessages]="{
            required: 'Введите название улицы'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- building -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Дом (корпус)<span class="primary-color">*</span></mat-label>

      <input
        name="adress_fact_building"
        type="text"
        matInput
        formControlName="adress_fact_building"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_building').value"
        (click)="actualResidence.get('adress_fact_building').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_building').touched &&
            actualResidence.get('adress_fact_building').invalid
          "
          [errors]="actualResidence.get('adress_fact_building').errors"
          [errorMessages]="{
            required: 'Введите номер дома(корпуса)'
          }"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>

  <!-- flat -->
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Квартира (№ в отеле)</mat-label>

      <input
        name="adress_fact_flat"
        type="text"
        matInput
        formControlName="adress_fact_flat"
      />

      <button
        *ngIf="actualResidence.get('adress_fact_flat').value"
        (click)="actualResidence.get('adress_fact_flat').setValue(null)"
        type="button"
        class="icon-button clear-button"
      >
        <svg width="2rem" height="2rem">
          <use xlink:href="assets/sprites/icons.svg#close-round"></use>
        </svg>
      </button>

      <mat-error
        ><app-error-messages
          *ngIf="
            actualResidence.get('adress_fact_flat').touched &&
            actualResidence.get('adress_fact_flat').invalid
          "
          [errors]="actualResidence.get('adress_fact_flat').errors"
        ></app-error-messages
      ></mat-error>
    </mat-form-field>
  </div>
</div>
