<div class="plug-page">
  <div class="page-container">
    <div class="plug-image">
      <img src="assets/plug.png" alt="plug image" />
    </div>

    <h1 class="plug-title">Личный кабинет еще в разработке...</h1>

    <div class="plug-text">
      <p>
        Сейчас вы можете сдать анализы оформив необходимые документы в
        медицинском центре.
      </p>
    </div>
  </div>

  <div class="buttons-group">
    <button [routerLink]="['/service-points']" class="button">
      <span>Список адресов</span>
    </button>
  </div>
</div>
