@import "theme";

.plug-page {
  padding: 8.7rem 0 9.2rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  color: $dark;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plug-image {
  width: 22.3rem;
  height: 14.8rem;
  margin-top: auto;
}

.plug-title {
  margin-top: 2.4rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.27;
}

.plug-text {
  margin-top: 6.25rem;
  line-height: 1.37;
}
