<div class="page-content" *ngIf="user">
  <div class="page-container">
    <div class="page-top">
      <div class="spacer"></div>

      <a class="close" [routerLink]="['/']">Закрыть</a>
    </div>
    <h1 class="subtitle profile-title">Редактирование E-mail</h1>

    <form (submit)="submit()" [formGroup]="editForm" class="form-controls">
      <!-- email -->
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>

          <input
            inputmode="email"
            matInput
            type="email"
            name="email"
            formControlName="email"
          />

          <button
            *ngIf="emailControl.value"
            (click)="emailControl.setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="emailControl.touched && emailControl.invalid"
              [errors]="emailControl.errors"
              [errorMessages]="{
                required: 'Введите email',
                incorrect_email_length:
                  emailControl.errors?.incorrect_email_length,
                email_already_exists: emailControl.errors?.email_already_exists
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>

      <!-- confirm email -->
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Повторите ваш E-mail</mat-label>

          <input
            matInput
            (paste)="$event.preventDefault()"
            autocomplete="nope"
            type="email"
            name="emailConfirm"
            formControlName="emailConfirm"
          />

          <button
            *ngIf="emailConfirmControl.value"
            (click)="emailConfirmControl.setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="emailConfirmControl.touched && emailConfirmControl.invalid"
              [errors]="emailConfirmControl.errors"
              [errorMessages]="{
                does_not_match: emailConfirmControl.errors?.does_not_match
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div class="buttons">
  <button
    type="button"
    (click)="submit()"
    [disabled]="loading || !emailsMatches"
    class="button"
  >
    <span>Сохранить</span>
  </button>
</div>
