<div class="page-content" *ngIf="user">
  <div class="page-container">
    <div class="page-top">
      <div class="spacer"></div>

      <a class="close" [routerLink]="['/']">{{ "CLOSE" | translate }}</a>
    </div>
    <h1 class="subtitle profile-title">{{ "EDITING_EMAIL" | translate }}</h1>

    <form (submit)="submit()" [formGroup]="editForm" class="form-controls">
      <!-- email -->
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>

          <input
            inputmode="email"
            matInput
            type="email"
            name="email"
            formControlName="email"
          />

          <button
            *ngIf="emailControl.value"
            (click)="emailControl.setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="emailControl.touched && emailControl.invalid"
              [errors]="emailControl.errors"
              [errorMessages]="{
                required: 'Введите email',
                incorrect_email_length:
                  emailControl.errors?.incorrect_email_length,
                email_already_exists: emailControl.errors?.email_already_exists,
                pattern: ('INVALID_EMAIL_FORMAT' | translate)
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>

      <!-- confirm email -->
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>{{ "REPEAT_YOUR_EMAIL" | translate }}</mat-label>

          <input
            matInput
            (paste)="$event.preventDefault()"
            autocomplete="off"
            type="email"
            name="emailConfirm"
            formControlName="emailConfirm"
          />

          <button
            *ngIf="emailConfirmControl.value"
            (click)="emailConfirmControl.setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="emailConfirmControl.touched && emailConfirmControl.invalid"
              [errors]="emailConfirmControl.errors"
              [errorMessages]="{
                does_not_match: emailConfirmControl.errors?.does_not_match,
                pattern: ('INVALID_EMAIL_FORMAT' | translate)
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button
          type="submit"
          (click)="submit()"
          [disabled]="loading || !emailsMatches"
          class="button"
        >
          <span>{{ "SAVE" | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
