<div class="page-content">
  <form class="login-form" (submit)="login()" [formGroup]="loginForm">
    <!-- login content -->
    <div class="page-container" *ngIf="!submitted">
      <h1 class="page-title">Вход по E-mail</h1>

      <!-- login controls -->
      <div class="form-controls">
        <!-- email -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label
              >{{ "EMAIL" | translate
              }}<span class="primary-color">*</span></mat-label
            >

            <input
              matInput
              inputmode="email"
              type="email"
              name="email"
              formControlName="email"
            />

            <button
              *ngIf="emailControl.value"
              (click)="emailControl.setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="emailControl.touched && emailControl.invalid"
                [errors]="emailControl.errors"
                [errorMessages]="{
                  required: ('ENTER_YOUR_EMAIL' | translate),
                  email_bad_format: emailControl.errors?.email_bad_format,
                  email_not_found: emailControl.errors?.email_not_found,
                  incorrect_email_length:
                    emailControl.errors?.incorrect_email_length,
                  pattern: ('INVALID_FORMAT' | translate)
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>
        </div>
      </div>

      <p class="login-links">
        <a class="register-link" (click)="loginToByPhone()"
          >Войти по телефону</a
        >
        <a class="register-link" [routerLink]="['/auth', 'register']">{{
          "DOESNT_HAVE_ACCOUNT" | translate
        }}</a>
      </p>
    </div>

    <!-- sms confirm -->
    <app-sms-confirm
      [codeForm]="loginForm.get('code')"
      *ngIf="submitted"
      [isLogin]="true"
      [isSms]="false"
      (submitted)="changeSubmitted($event)"
      [value]="emailControl.value"
      [smsInterval]="smsInterval"
      (submit)="submit()"
    ></app-sms-confirm>

    <div class="buttons">
      <button
        *ngIf="!submitted"
        type="button"
        [class.is-loading]="isLoading"
        (click)="login()"
        class="button register-button"
        [disabled]="emailControl.invalid || isLoading"
      >
        <span>Получить код</span>
      </button>
    </div>
  </form>
</div>
