@import "theme";

.registration-form {
  padding-bottom: 12.8rem;
}

.sms-description {
  margin-top: 0.8rem;
}

.register-button {
  > * {
    &:not(:first-child) {
      margin-left: 1.6rem;
    }
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
