<div class="page-content">
  <form
    class="registration-form"
    (submit)="register()"
    [formGroup]="registerForm"
  >
    <!-- registration content -->
    <div class="page-container" *ngIf="!submitted">
      <h1 class="page-title">Регистрация</h1>

      <!-- registration controls -->
      <div class="form-controls">
        <!-- name -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Имя<span class="primary-color">*</span></mat-label>

            <input
              autocomplete="off"
              name="name"
              type="text"
              autocomplete="off"
              matInput
              formControlName="name"
            />

            <button
              *ngIf="nameControl.value"
              (click)="nameControl.setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="nameControl.touched && nameControl.invalid"
                [errors]="nameControl.errors"
                [errorMessages]="{
                  required: 'Введите имя',
                  incorrect_name_length:
                    nameControl.errors?.incorrect_name_length
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>

          <p
            *ngIf="!(nameControl.touched && nameControl.invalid)"
            class="form-control-text"
          >
            Чтобы мы могли обратиться к вам по имени.
          </p>
        </div>

        <!-- phone -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>Телефон<span class="primary-color">*</span></mat-label>

            <input
              matInput
              mask="0 (000) 000 00 00"
              [validation]="true"
              prefix="+"
              type="text"
              autocomplete="off"
              inputmode="tel"
              formControlName="phone"
            />

            <button
              *ngIf="phoneControl.value"
              (click)="phoneControl.setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="phoneControl.touched && phoneControl.invalid"
                [errors]="phoneControl.errors"
                [errorMessages]="{
                  minlength:
                    'Минимальная длина ' +
                    phoneControl.errors.minlength?.requiredLength +
                    ' символов',
                  required: 'Введите номер телефона',
                  not_unique_phone: phoneControl.errors?.not_unique_phone
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>

          <p
            *ngIf="!(phoneControl.touched && phoneControl.invalid)"
            class="form-control-text"
          >
            Пришлем код подтверждения регистрации и оповестим о готовности
            результата.
          </p>
        </div>

        <!-- email -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label>E-mail<span class="primary-color">*</span></mat-label>

            <input
              matInput
              inputmode="email"
              type="email"
              name="email"
              formControlName="email"
            />

            <button
              *ngIf="emailControl.value"
              (click)="emailControl.setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="emailControl.touched && emailControl.invalid"
                [errors]="emailControl.errors"
                [errorMessages]="{
                  required: 'Введите email',
                  not_unique_email: emailControl.errors?.not_unique_email,
                  incorrect_email_length:
                    emailControl.errors?.incorrect_email_length
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>

          <p
            *ngIf="!(emailControl.touched && emailControl.invalid)"
            class="form-control-text"
          >
            Укажите E-mail, чтобы результаты исследований пришли на электронную
            почту.
          </p>
        </div>

        <!-- confirm email -->
        <div class="form-control">
          <mat-form-field appearance="outline">
            <mat-label
              >Повторите ваш E-mail<span class="primary-color"
                >*</span
              ></mat-label
            >

            <input
              matInput
              (paste)="$event.preventDefault()"
              autocomplete="off"
              type="email"
              name="emailConfirm"
              formControlName="emailConfirm"
            />

            <button
              *ngIf="emailConfirmControl.value"
              (click)="emailConfirmControl.setValue(null)"
              type="button"
              class="icon-button clear-button"
            >
              <svg width="2rem" height="2rem">
                <use xlink:href="assets/sprites/icons.svg#close-round"></use>
              </svg>
            </button>

            <mat-error
              ><app-error-messages
                *ngIf="
                  emailConfirmControl.touched && emailConfirmControl.invalid
                "
                [errors]="emailConfirmControl.errors"
                [errorMessages]="{
                  does_not_match: emailConfirmControl.errors?.does_not_match
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- sms confirm -->
    <app-sms-confirm
      [codeForm]="registerForm.get('code')"
      *ngIf="submitted"
      (changeResendCode)="resendCode = $event"
      [resendCode]="resendCode"
      (submitted)="changeSubmitted($event)"
      [phoneValue]="phoneControl.value"
      (submit)="submit()"
    ></app-sms-confirm>

    <div class="buttons">
      <button
        *ngIf="!submitted"
        type="button"
        (click)="register()"
        class="button register-button"
        [disabled]="
          nameControl.invalid ||
          phoneControl.invalid ||
          emailControl.invalid ||
          emailConfirm.invalid ||
          registrationLoading
        "
      >
        <span>Далее</span>
        <svg width="1.6rem" height="1.6rem">
          <use xlink:href="assets/sprites/icons.svg#next"></use>
        </svg>
      </button>
    </div>
  </form>
</div>
