<div class="page-content" *ngIf="order">
  <div class="page-container">
    <div class="page-top">
      <a class="back-link" (click)="back()">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>
    <div class="order-point">{{ point?.name }}</div>
  </div>

  <div class="items">
    <div class="item" *ngFor="let item of order.items">
      <div class="fio">{{ item.fio }}</div>
      <div class="services">
        <div class="service" *ngFor="let service of item.services">
          <div class="service-name">{{ service.name }}</div>
          <div class="service-price">{{ service.price }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="discount" *ngIf="discount">
      <span>Скидка</span>
      <span class="discount-number">-{{ discount | number }}&#8381;</span>
    </div>
    <div class="total-sum">
      <span>Итого:</span>
      <span class="service-price">{{ order.sum | number }}&#8381;</span>
    </div>
  </div>

  <div class="buttons">
    <button
      type="button"
      class="button"
      [routerLink]="[
        '/cabinet',
        'services-registration',
        'payment-method',
        order.id
      ]"
    >
      <span>Далее</span>
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#next"></use>
      </svg>
    </button>
  </div>
</div>
