<div class="edit-field-container">
  <div class="edit-field-top">
    <button
      class="icon-button edit-field-close-button"
      (click)="_bottomSheetRef.dismiss()"
    >
      <svg width="1.641rem" height="1.641rem">
        <use xlink:href="assets/sprites/icons.svg#close"></use>
      </svg>
    </button>
  </div>
  <form class="edit-field-form" (submit)="submit()" [formGroup]="form">
    <div class="form-controls">
      <!-- email -->
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>

          <input
            matInput
            inputmode="email"
            type="email"
            name="email"
            formControlName="email"
          />

          <button
            *ngIf="form.get('email').value"
            (click)="form.get('email').setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="form.get('email').touched && form.get('email').invalid"
              [errors]="form.get('email').errors"
              [errorMessages]="{
                required: 'Введите email',
                incorrect_email_length:
                  form.get('email').errors?.incorrect_email_length,
                pattern: 'Неверный формат телефона'
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>

      <!-- confirm email -->
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Повторите ваш E-mail</mat-label>

          <input
            matInput
            (paste)="$event.preventDefault()"
            autocomplete="nope"
            type="email"
            name="emailConfirm"
            formControlName="emailConfirm"
          />

          <button
            *ngIf="form.get('emailConfirm').value"
            (click)="form.get('emailConfirm').setValue(null)"
            type="button"
            class="icon-button clear-button"
          >
            <svg width="2rem" height="2rem">
              <use xlink:href="assets/sprites/icons.svg#close-round"></use>
            </svg>
          </button>

          <mat-error
            ><app-error-messages
              *ngIf="
                form.get('emailConfirm').touched &&
                form.get('emailConfirm').invalid
              "
              [errors]="form.get('emailConfirm').errors"
              [errorMessages]="{
                does_not_match: form.get('emailConfirm').errors?.does_not_match
              }"
            ></app-error-messages
          ></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="edit-field-paste" (click)="setValueFromProfile()">
      Вставить основной e-mail профиля
    </div>

    <button
      class="button edit-field-submit"
      [disabled]="form.invalid"
      type="submit"
    >
      Сохранить
    </button>
  </form>
</div>
