<div class="page-content">
  <div class="page-container">
    <a
      [routerLink]="['/cabinet', 'services-registration', 'info']"
      class="back-link"
    >
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>Назад</span>
    </a>

    <h1 class="page-title">Получение QR-кода</h1>

    <div class="info-text">
      <p>
        Получение QR-кода на ЕМИАС (Госуслуги) возможно только в случае
        оформления на Паспорт гражданина РФ, для детей – Свидетельства о
        рождении, и при указании правильного номера полиса ОМС и СНИЛС.
      </p>
      <p>
        Получение QR-кода на официальном сайте
        <a class="redirect-link" href="https://immune.mos.ru" target="_blank">
          <span>мэра Москвы</span>
          <svg>
            <use xlink:href="assets/sprites/icons.svg#expand-outline"></use>
          </svg>
        </a>
        возможно при оформлении как на Паспорт гражданина РФ, так и на
        загранпаспорт, а также на паспорт иностранного гражданина.
      </p>
    </div>
  </div>
</div>
