<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <div class="spacer"></div>
      <a class="close" [routerLink]="['']">Закрыть</a>
    </div>
    <div class="error-content">
      <img
        class="response-image"
        src="assets/cabinet/error-response.svg"
        alt="Ошибка"
      />
      <div class="error-text">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button type="button" (click)="navigate()" class="button">
      <span>{{ buttonText }}</span>
    </button>
  </div>
</div>
