@import "theme";
@import "./components/expansion-panel";

:host {
  line-height: 1.397;
}

// introduce
.introduce-section {
  padding-bottom: 0.8rem;
  padding-top: 6.4rem;
}

.introduce-image {
  width: 100%;
}

.introduce-description {
  margin-top: -3.4rem;
  position: relative;
}

.introduce-text {
  margin-top: 1.8rem;
  color: $dark;
  line-height: 1.5;

  > * {
    &:not(:first-child) {
      margin-top: 2.6rem;
    }
  }
}

.introduce-title {
  background-color: darken($accent, 7.5%);
  margin-right: 2rem;
  padding: 0.5rem 0.6rem 0.5rem 1.4rem;
}

.introduce-button {
  margin-top: 1.6rem;
}

.login-link {
  text-align: center;
  color: $gray;
  margin-top: 1.6rem;
  display: block;
}

.coupon-info {
  font-weight: 600;
  color: $dark;
  margin-top: 2rem;
}

.introduce-warning {
  margin-top: 2.4rem;
  font-weight: 600;
  color: darken($accent, 7.5%);
}

// how works
.how-works-section {
  padding: 3rem 0 2.6rem;
}

.works-list {
  margin-top: 3.2rem;

  > * {
    &:not(:first-child) {
      margin-top: 2.4rem;
    }
  }
}

.works-list-image {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.works-list-item {
  display: flex;
  align-items: center;

  > * {
    &:not(:first-child) {
      margin-left: 1.8rem;
    }
  }
}

.how-works-text {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

// test necessity
.test-necessity {
  padding: 2.4rem 0 4rem;

  p {
    margin-top: 1.8rem;
  }

  a {
    color: $text;
  }
}

.citizen-type {
  margin-top: 3rem;
  color: $dark;
}

.citizen-type-title {
  font-weight: 600;

  svg {
    fill: none;
    stroke: $primary;
    stroke-width: 0.2rem;
  }

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.citizen-type-info {
  margin-top: 1.6rem;
  font-size: 1.2rem;
}

// test types
.test-types {
  padding: 2.4rem 0 2rem;

  .custom-expansions {
    margin-top: 3.2rem;
  }
}

// test location
.test-location {
  padding-top: 4rem;

  .custom-expansions {
    margin-top: 2.4rem;
  }
}

.test-location-text {
  margin-top: 1.8rem;
}

// faq section
.faq-section {
  padding: 4rem 0 4.2rem;

  .custom-expansions {
    margin-top: 2.4rem;
  }

  .custom-expansion {
    .mat-expansion-panel-header {
      font-weight: 400;

      &::after {
        display: none;
      }
    }

    .mat-expansion-panel-body {
      padding: 1.2rem 2rem 1.2rem;
    }
  }
}

.more-detailed-link {
  margin-bottom: 2.6rem;
}

.expansion-points-link {
  text-decoration: none;
  color: $primary;
}
