<!-- introduce -->
<section class="introduce-section">
  <img
    class="introduce-image"
    src="assets/home/pexels-jeshootscom.jpg"
    alt="pexels jeshootscom"
  />

  <div class="introduce-description">
    <div class="introduce-title">
      <h1 class="home-title">Сдайте анализы на COVID-19 прямо в аэропорту</h1>
    </div>
    <div class="page-container">
      <div class="introduce-text">
        <p>
          Для вас доступны два вида тестирования на коронавирусную инфекцию
          COVID-19 методом ПЦР:
        </p>
        <p>
          <strong>Экспресс-тестирование</strong> — получение результата до 3
          часов
          <br />
          <strong>Стандартное тестирование</strong> — получение результата за 24
          часа
        </p>
        <p>
          Вы можете зарегистрировать себя и своих близких прямо на сайте для
          экономии времени
        </p>
      </div>
      <a [routerLink]="['/auth', 'register']" class="introduce-button button"
        >Зарегистрироваться</a
      >
      <a class="login-link" [routerLink]="['/auth', 'login']"
        >Уже есть аккаунт? Войти</a
      >
    </div>
  </div>
</section>

<!-- how works -->
<section id="how-works" class="how-works-section">
  <div class="page-container">
    <h2 class="section-title">Как это работает?</h2>

    <ul class="works-list">
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/questionnaire.svg" alt="questionnaire icon" />
        </div>
        <span>Зарегистрируйтесь на сайте и заполните анкету</span>
      </li>
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/qr-code.svg" alt="qr-code icon" />
        </div>
        <span>Отсканируйте полученный QR-код в терминале оплаты</span>
      </li>
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/undraw-map.svg" alt="undraw map icon" />
        </div>
        <span>Сдайте анализ в мед. центре, находящимся в аэропорту</span>
      </li>
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/result.svg" alt="result icon" />
        </div>
        <span>Результат теста будет известен в течение 3 - 24 часов</span>
      </li>
    </ul>
  </div>
</section>

<!-- test necessity -->
<section id="test-necessity" class="test-necessity">
  <div class="page-container">
    <h2 class="section-title">
      Зачем путешественникам сдавать анализ на COVID-19 в России?
    </h2>
    <p>
      В соответствии с
      <a
        href="https://www.rospotrebnadzor.ru/files/news/Постановление%2013072020.pdf"
        target="_blank"
      >
        Постановлением Главного государственного санитарного врача РФ от 7 июля
        2020 г. № 18</a
      >
    </p>
    <div class="citizen-type">
      <h5 class="citizen-type-title primary-color">
        <svg width="1.4rem" height="1.4rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-right"></use>
        </svg>
        <span>Граждане Российской Федерации</span>
      </h5>
      <p>
        В течение 3 календарных дней с даты возвращения в Россию должны пройти
        обследование на COVID-19 методом ПЦР
      </p>
    </div>
    <div class="citizen-type">
      <h5 class="citizen-type-title primary-color">
        <svg width="1.4rem" height="1.4rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-right"></use>
        </svg>
        <span>Иностранные граждане</span>
      </h5>
      <p>
        При отсутствии медицинской справки должны обследоваться на COVID-19
        методом ПЦР в течение 3 календарных дней на территории РФ
      </p>
    </div>
  </div>
</section>

<!-- test types -->
<section id="test-type" class="test-types">
  <div class="page-container">
    <h2 class="section-title">Какой тест можно сдать прямо в аэропорту?</h2>
  </div>
  <div class="custom-expansions">
    <mat-expansion-panel
      hideToggle
      class="custom-expansion"
      *ngFor="let service of services$ | async"
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>
          {{ service.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-info">
        <p class="caption">Стоимость анализа:</p>
        <p>{{ service.price }} {{ service.priceType }}</p>
      </div>
      <div class="custom-expansion-info">
        <p class="caption">Срок исполнения:</p>
        <p>{{ service.duration }}</p>
      </div>
      <div class="custom-expansion-info">
        <p class="caption">Местоположение:</p>
        <p>
          Доступно в
          <a [routerLink]="['/service-points']" class="points-link"
            >{{ (servicePoints$ | async)?.length }}
            <span
              appPluralRu=""
              [value]="(servicePoints$ | async)?.length"
              [arVariants]="['мед. центре', 'мед. центрах', 'мед. центрах']"
            ></span
          ></a>
        </p>
      </div>

      <div class="custom-expansion-buttons">
        <a [routerLink]="['/auth', 'login']" class="button">Записаться</a>
        <a [routerLink]="['/services', service.id]" class="button no-bg accent"
          >Подробнее</a
        >
      </div>
    </mat-expansion-panel>
  </div>

  <div class="page-container">
    <a [routerLink]="['/services']" class="detailed-link">
      <span>Посмотреть все</span>
      <svg width="2.2rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>

<!-- test location -->
<section id="test-location" class="test-location">
  <div class="page-container">
    <h2 class="section-title">Где можно сдать тест на COVID-19?</h2>
    <div class="test-location-text">
      <p>
        Мы сотрудничаем с лучшими медицинскими клиниками, где вы сможете сдать
        все необходимые анализы и получить результаты в кратчайшие сроки
      </p>
    </div>
  </div>
  <div class="custom-expansions">
    <mat-expansion-panel
      hideToggle
      class="custom-expansion"
      *ngFor="let point of servicePoints$ | async"
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>
          {{ point.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-info">
        <p class="caption">Адрес:</p>
        <p>{{ point.address }}</p>
      </div>
      <div class="custom-expansion-info">
        <p class="caption">Время работы:</p>
        <p>{{ point.worktime }}</p>
      </div>

      <div class="custom-expansion-buttons">
        <a [routerLink]="['/auth', 'login']" class="button">Записаться</a>
        <a
          [routerLink]="['/service-points', point.id]"
          class="button no-bg accent"
          >Подробнее</a
        >
      </div>
    </mat-expansion-panel>
  </div>
  <div class="page-container">
    <a [routerLink]="['/service-points']" class="detailed-link">
      <span>Подробнее</span>
      <svg width="2.2rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>

<!-- faq -->
<section id="faq" class="faq-section">
  <div class="page-container">
    <h2 class="section-title">
      Часто задаваемые <br />
      вопросы
    </h2>
  </div>

  <div class="custom-expansions">
    <!-- 1 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>Как получить результат?</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          Забрать результат можно в печатном виде у администратора мед. центра
          или получить его на указанный при регистрации адрес электронной почты.
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 2 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>На каких языках доступен результат?</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>Сразу на двух языках – русский и английский (RUS + ENG).</p>
      </div>
    </mat-expansion-panel>
    <!-- 3 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >Какие рекомендации перед сдачей теста?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          Минимум за 1 час до сдачи теста нельзя: употреблять пищу, пить,
          чистить зубы, полоскать рот/горло, жевать жевательную резинку, курить,
          закапывать капли/спреи и промывать нос.
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 4 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>Способы оплаты</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          Безналичная оплата на сайте или в медицинском центре, на терминалах
          или у администратора.
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 5 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>Как берется тест?</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>Мазок берется зондом из ротоглотки и носоглотки.</p>
      </div>
    </mat-expansion-panel>
    <!-- 6 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >Если у меня признаки ОРВИ или я контактировал с пациентом, больным
          коронавирусной инфекцией?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          Исследование доступно только бессимптомным пациентам. Пациентам,
          контактировавшим с больными COVID-19, или имеющим повышенную
          температуру тела и/или явные симптомы ОРВИ, рекомендуем обратиться в
          единый консультационный центр Роспотребнадзора по тел.: <br />
          <a class="custom-expansion-phone" href="tel:88005554943"
            >8-800-555-49-43</a
          >
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 7 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >Что делать, если результат положительный?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          Все положительные результаты выполненных лабораторных исследований
          будут передаваться в Роспотребнадзор, ведомство самостоятельно
          свяжется с пациентами для дальнейших действий.
        </p>
      </div>
    </mat-expansion-panel>
  </div>
</section>

<app-footer></app-footer>
