<!-- introduce -->
<section class="introduce-section">
  <img
    class="introduce-image"
    src="assets/home/banner.jpg"
    alt="banner image"
  />

  <div class="introduce-description">
    <div class="introduce-title">
      <h1 class="home-title" [innerHTML]="'HOME.TITLE' | translate"></h1>
    </div>
    <div class="page-container">
      <div class="introduce-text">
        <p>
          {{ "HOME.WELCOME" | translate }}
        </p>
        <p>
          <span [innerHTML]="'HOME.URGENT' | translate"></span>
          <br />
          <span [innerHTML]="'HOME.EXPRESS' | translate"></span>
          <br />
          <span [innerHTML]="'HOME.STANDARD' | translate"></span>
          <br />
          <span [innerHTML]="'HOME.ANTIGEN' | translate"></span>
        </p>

        <p>
          {{ "HOME.REGISTER_INFO" | translate }}
        </p>
      </div>
      <a
        [routerLink]="
          isAuth ? ['/cabinet', 'questionnaires'] : ['/auth', 'register']
        "
        class="introduce-button button"
        >{{ "BUTTON.REGISTRATION" | translate }}</a
      >
      <a class="login-link" [routerLink]="['/cabinet', 'questionnaires']">{{
        "BUTTON.HAVE_ACCOUNT" | translate
      }}</a>

      <p class="coupon-info">
        {{ "HOME.DISCOUNT_COUPON" | translate }}
      </p>

      <p class="introduce-warning">
        {{ "HOME.DIGITAL_CERTIFICATE" | translate }}
      </p>
    </div>
  </div>
</section>

<!-- how works -->
<section id="how-works" class="how-works-section">
  <div class="page-container">
    <h2 class="section-title">{{ "HOME.HOW_IT_WORKS.TITLE" | translate }}</h2>

    <ul class="works-list">
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/questionnaire.svg" alt="questionnaire icon" />
        </div>
        <span>{{ "HOME.HOW_IT_WORKS.REGISTRATION_TEXT" | translate }}</span>
      </li>
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/qr-code.svg" alt="qr-code icon" />
        </div>
        <span>{{ "HOME.HOW_IT_WORKS.SCAN_QR" | translate }}</span>
      </li>
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/undraw-map.svg" alt="undraw map icon" />
        </div>
        <span>{{ "HOME.HOW_IT_WORKS.TAKE_TEST" | translate }}</span>
      </li>
      <li class="works-list-item">
        <div class="works-list-image">
          <img src="assets/home/result.svg" alt="result icon" />
        </div>
        <span>{{ "HOME.HOW_IT_WORKS.RECEIVE_RESULT" | translate }}</span>
      </li>
    </ul>

    <p class="how-works-text">
      {{ "HOME.HOW_IT_WORKS.RELIABLE_RESULT" | translate }}
    </p>
  </div>
</section>

<!-- test necessity -->
<section id="test-necessity" class="test-necessity">
  <div class="page-container">
    <h2 class="section-title">
      {{ "HOME.COVID_TEST.TITLE" | translate }}
    </h2>
    <p
      [innerHTML]="
        'HOME.COVID_TEST.DOCUMENT_LINK'
          | translate
            : {
                link: 'http://publication.pravo.gov.ru/Document/View/0001202107060020?index=0&rangeSize=1'
              }
      "
    ></p>
    <div class="citizen-type">
      <h5 class="subtitle citizen-type-title primary-color">
        <svg width="1.4rem" height="1.4rem">
          <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
        </svg>
        <span>{{ "HOME.COVID_TEST.CITIZENS_TITLE" | translate }}</span>
      </h5>
      <p>
        {{ "HOME.COVID_TEST.CITIZENS_TEXT" | translate }}
      </p>
    </div>
    <div class="citizen-type">
      <h5 class="subtitle citizen-type-title primary-color">
        <svg width="1.4rem" height="1.4rem">
          <use xlink:href="assets/sprites/icons.svg#arrow-right"></use>
        </svg>
        <span>{{ "HOME.COVID_TEST.FOREIGN_CITIZENS_TITLE" | translate }}</span>
      </h5>
      <p>
        {{ "HOME.COVID_TEST.FOREIGN_CITIZENS_TEXT" | translate }}
      </p>
    </div>
  </div>
</section>

<!-- test types -->
<section id="test-type" class="test-types">
  <div class="page-container">
    <h2 class="section-title">{{ "HOME.TEST_TYPES.TITLE" | translate }}</h2>
  </div>
  <div class="custom-expansions">
    <mat-expansion-panel
      hideToggle
      class="custom-expansion"
      *ngFor="let service of services$ | async"
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>
          {{ service.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-info">
        <p class="caption">{{ "HOME.TEST_TYPES.PRICE" | translate }}:</p>
        <p>{{ service.price }} {{ service.priceType }}</p>
      </div>

      <div class="custom-expansion-info">
        <p class="caption">{{ "READINESS_TIME" | translate }}:</p>
        <p>{{ service.duration }}</p>
      </div>
      <div class="custom-expansion-info">
        <p class="caption">{{ "LOCATION" | translate }}:</p>
        <p>
          {{ "AVAILABLE_AT" | translate }}
          <a
            [routerLink]="['/service-points']"
            [queryParams]="{ serviceId: service.id }"
            class="points-link"
            >{{ service.numCenters }}
            <span
              appPluralRu
              [value]="service.numCenters"
              [arVariants]="[
                translate.instant('MEDICINES_SINGLE'),
                translate.instant('MEDICINES_MULTI'),
                translate.instant('MEDICINES_MULTI')
              ]"
            ></span
          ></a>
        </p>
      </div>

      <div class="custom-expansion-buttons">
        <a [routerLink]="['/cabinet', 'questionnaires']" class="button">{{
          "BUTTON.TAKE_TEST" | translate
        }}</a>
        <a
          [routerLink]="['/services', service.id]"
          class="button no-bg accent"
          >{{ "BUTTON.MORE_DETAILS" | translate }}</a
        >
      </div>
    </mat-expansion-panel>
  </div>

  <div class="page-container">
    <a [routerLink]="['/services']" class="detailed-link">
      <span>{{ "BUTTON.VIEW_ALL" | translate }}</span>
      <svg width="2.2rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#arrow-right-long"></use>
      </svg>
    </a>
  </div>
</section>

<!-- test location -->
<section id="test-location" class="test-location">
  <div class="page-container">
    <h2 class="section-title">{{ "HOME.TEST_LOCATION.TITLE" | translate }}</h2>
    <div class="test-location-text">
      <p>
        {{ "HOME.TEST_LOCATION.TEXT" | translate }}
      </p>
    </div>
    <div class="address-buttons">
      <button
        (click)="addressMode = 'map'"
        [class.stroke]="addressMode === 'map'"
        class="button primary service-detail-button"
      >
        {{ "BUTTON.ADDRESSES_MAP" | translate }}
      </button>
      <button
        (click)="addressMode = 'list'"
        [class.stroke]="addressMode === 'list'"
        class="button primary service-detail-button"
      >
        {{ "BUTTON.ADDRESSES_LIST" | translate }}
      </button>
    </div>
  </div>

  <!-- map -->
  <div class="map-container" [hidden]="addressMode !== 'map'">
    <ya-map
      (ready)="mapLoaded($event)"
      [options]="mapOptions"
      [state]="{ controls: [] }"
    >
      <ya-placemark
        (ready)="ready($event)"
        *ngFor="let point of servicePoints$ | async"
        [geometry]="[point.latitude, point.longtitude]"
        [options]="options"
        (yaclick)="selectMapPoint($event, point)"
      ></ya-placemark>
    </ya-map>

    <!-- point card -->
    <div class="point-card" [@slideUp] *ngIf="selectedPoint">
      <div class="point-card-top">
        <div
          class="point-card-name"
          [routerLink]="['/service-points', selectedPoint.id]"
        >
          {{ selectedPoint.name }}
        </div>
        <svg (click)="closeMapCard()" class="point-card-close">
          <use xlink:href="assets/sprites/icons.svg#close"></use>
        </svg>
      </div>
      <div class="point-card-content">
        <div class="point-card-infocards">
          <div class="point-card-infocard">
            <div class="point-card-infocard-icon">
              <svg width="1.8rem" height="1.8rem">
                <use xlink:href="assets/sprites/icons.svg#gps"></use>
              </svg>
            </div>
            <span>{{ selectedPoint.address }}</span>
          </div>
          <div class="point-card-infocard">
            <div class="point-card-infocard-icon">
              <svg width="1.5rem" height="1.5rem">
                <use xlink:href="assets/sprites/icons.svg#clock"></use>
              </svg>
            </div>
            <span>{{ selectedPoint.worktime }}</span>
          </div>
        </div>
        <a
          [routerLink]="['/cabinet', 'questionnaires']"
          class="point-card-button button no-bg accent"
          >{{ "BUTTON.SIGN_UP" | translate }}</a
        >
      </div>
    </div>
  </div>

  <!-- points -->
  <div class="custom-expansions" [hidden]="addressMode !== 'list'">
    <mat-expansion-panel
      hideToggle
      class="custom-expansion"
      *ngFor="let point of servicePoints$ | async"
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>
          {{ point.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-info">
        <p class="caption">{{ "HOME.TEST_LOCATION.ADDRESS" | translate }}:</p>
        <p>{{ point.address }}</p>
      </div>
      <div class="custom-expansion-info">
        <p class="caption">{{ "WORKING_HOURS" | translate }}:</p>
        <p>{{ point.worktime }}</p>
      </div>

      <div class="custom-expansion-buttons">
        <a [routerLink]="['/cabinet', 'questionnaires']" class="button">{{
          "BUTTON.TAKE_TEST" | translate
        }}</a>
        <a
          [routerLink]="['/service-points', point.id]"
          class="button no-bg accent"
          >{{ "BUTTON.MORE_DETAILS" | translate }}</a
        >
      </div>
    </mat-expansion-panel>
  </div>
  <div class="page-container more-detailed-link" *ngIf="addressMode === 'list'">
    <a [routerLink]="['/service-points']" class="detailed-link">
      <span>{{ "BUTTON.MORE_DETAILS" | translate }}</span>
      <svg width="2.2rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#arrow-right-long"></use>
      </svg>
    </a>
  </div>
</section>

<!-- faq -->
<section id="faq" class="faq-section" #faq>
  <div class="page-container">
    <h2 class="section-title" [innerHTML]="'HOME.FAQ.TITLE' | translate"></h2>
  </div>

  <div class="custom-expansions">
    <!-- 1 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.RECEIVE_RESULT_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.RECEIVE_RESULT_TEXT" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 2 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.AVAILABLE_LANGUAGES_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>{{ "HOME.FAQ.AVAILABLE_LANGUAGES_TEXT" | translate }}</p>
      </div>
    </mat-expansion-panel>
    <!-- 3 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.RECOMMENDATIONS_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.RECOMMENDATIONS_TEXT" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 4 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{ "PAYMENT_METHODS" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.PAYMENT_METHODS_TEXT" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 5 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.HOW_TEST_TAKES_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>{{ "HOME.FAQ.HOW_TEST_TAKES_TEXT" | translate }}</p>
      </div>
    </mat-expansion-panel>
    <!-- 6 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >{{ "HOME.FAQ.ARVI_TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p [innerHTML]="'HOME.FAQ.ARVI_TEXT' | translate"></p>
      </div>
    </mat-expansion-panel>
    <!-- 7 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >{{ "HOME.FAQ.POSITIVE_RESULT_TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.POSITIVE_RESULT_TEXT" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 8 -->
    <mat-expansion-panel
      #refundsPanel
      id="refunds-panel"
      hideToggle
      class="custom-expansion"
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.MAKING_REFUNDS_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.MAKING_REFUNDS_TEXT_PRE" | translate }}
          <a [routerLink]="['/service-points']" class="expansion-points-link">{{
            "HOME.FAQ.MAKING_REFUNDS_LINK" | translate
          }}</a
          >. {{ "HOME.FAQ.MAKING_REFUNDS_TEXT_POST" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 9 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >{{ "HOME.FAQ.FLIGHTS_ABROAD_TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.FLIGHTS_ABROAD_TEXT" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 10 -->
    <mat-expansion-panel #cashbackPanel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >{{ "HOME.FAQ.ABORT_TEST_TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.ABORT_TEST_TEXT" | translate }}
          <span
            class="primary-color"
            (click)="openRefundsPanel(refundsPanel, cashbackPanel)"
            >{{ "HOME.FAQ.ABORT_TEST_REFUND" | translate }}
          </span>
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 11 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >{{ "HOME.FAQ.ORDER_DURATION_TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>{{ "HOME.FAQ.ORDER_DURATION_TEXT" | translate }}</p>
      </div>
    </mat-expansion-panel>
    <!-- 12 -->
    <mat-expansion-panel hideToggle class="custom-expansion">
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title
          >{{ "HOME.FAQ.QR_MAYOR_TITLE" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.QR_PUBLIC_EVENTS_TEXT_PRE" | translate }}
          <a class="redirect-link" href="https://immune.mos.ru" target="_blank">
            <span>{{ "HOME.FAQ.QR_PUBLIC_EVENTS_LINK" | translate }}</span>
            <svg>
              <use xlink:href="assets/sprites/icons.svg#expand-outline"></use>
            </svg>
          </a>
          {{ "HOME.FAQ.QR_PUBLIC_EVENTS_TEXT_POST" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 13 -->
    <mat-expansion-panel
      id="corp-clients-faq"
      hideToggle
      class="custom-expansion"
      #corpPanel
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.CORPORATE_CLIENTS_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.CORPORATE_CLIENTS_TEXT" | translate }}
        </p>
      </div>
    </mat-expansion-panel>
    <!-- 15 -->
    <mat-expansion-panel
      id="corp-clients-faq"
      hideToggle
      class="custom-expansion"
      #corpPanel
    >
      <mat-expansion-panel-header
        [expandedHeight]="'9rem'"
        [collapsedHeight]="'9rem'"
      >
        <mat-panel-title>{{
          "HOME.FAQ.HOW_TO_GET_RESULT_TITLE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="custom-expansion-text">
        <p>
          {{ "HOME.FAQ.HOW_TO_GET_RESULT_TEXT" | translate }}
        </p>
        <ol class="expansion-ordered-list">
          <li>
            {{ "HOME.FAQ.HOW_TO_GET_RESULT_FIRST" | translate }}
          </li>
          <li>{{ "HOME.FAQ.HOW_TO_GET_RESULT_SECOND" | translate }}</li>
          <li>
            {{ "HOME.FAQ.HOW_TO_GET_RESULT_THIRD_PRE" | translate }} (<a
              href="https://lab.rzd-medicine.ru"
              class="expansion-points-link"
              >https://lab.rzd-medicine.ru</a
            >), {{ "HOME.FAQ.HOW_TO_GET_RESULT_THIRD_POST" | translate }}
          </li>
          <li>{{ "HOME.FAQ.HOW_TO_GET_RESULT_FOURTH" | translate }}</li>
          <li>
            {{ "HOME.FAQ.HOW_TO_GET_RESULT_FIFTH" | translate }}
          </li>
          <li>
            {{ "HOME.FAQ.HOW_TO_GET_RESULT_SIXTH" | translate }}
          </li>
          <li *ngIf="translate.currentLang !== '2'">
            {{ "HOME.FAQ.HOW_TO_GET_RESULT_SEVENTH" | translate }}
          </li>
        </ol>
      </div>
    </mat-expansion-panel>
  </div>
</section>

<app-footer></app-footer>
