@import "theme";

:host {
  line-height: 1.397;
}

// introduce
.introduce-section {
  padding-bottom: 1.6rem;
}

.introduce-image {
  width: 100%;
}

.introduce-description {
  margin-top: -3.4rem;
  position: relative;
}

.introduce-text {
  margin-top: 1.8rem;
}

.introduce-title {
  background-color: darken($accent, 7.5%);
  margin-right: 2rem;
  padding: 1.2rem 2rem 1.4rem;
}

.introduce-button {
  margin-top: 3rem;
}

.login-link {
  text-align: center;
  color: $gray;
  margin-top: 1.6rem;
  display: block;
}

// how works
.how-works-section {
  padding: 3rem 0 2.6rem;
}

.works-list {
  list-style: none;
  padding: 0;
  margin: 3.2rem 0 0;

  > * {
    &:not(:first-child) {
      margin-top: 2.4rem;
    }
  }
}

.works-list-image {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.works-list-item {
  display: flex;
  align-items: center;

  > * {
    &:not(:first-child) {
      margin-left: 1.8rem;
    }
  }
}

// test necessity
.test-necessity {
  padding: 2.4rem 0 4rem;

  p {
    margin-top: 1.8rem;
  }

  a {
    color: $text;
  }
}

.citizen-type {
  margin-top: 3rem;
}

.citizen-type-title {
  font-size: 1.6rem;
  font-weight: 600;

  svg {
    fill: none;
    stroke: $primary;
    stroke-width: 0.2rem;
  }

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

// test types
.test-types {
  padding: 2.4rem 0 2rem;

  .test-type-expansion {
    margin-top: 3rem;
    box-shadow: none;

    .mat-expansion-panel-header {
      font-weight: 600;
    }

    ::ng-deep {
      .mat-content {
        position: relative;
        overflow: visible;

        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 0.5rem);
          color: $gray;
          right: 0;
          border-style: solid;
          border-width: 0 0.2rem 0.2rem 0;
          content: "";
          display: inline-block;
          padding: 0.3rem;
          transform: rotate(-45deg);
          vertical-align: middle;
          transition: transform 0.15s;
        }
      }

      .mat-expansion-panel-body {
        padding: 1.6rem 2rem 1.2rem;
      }
    }

    &.mat-expanded {
      .mat-expansion-panel-header {
        background-color: $concrete;
      }

      ::ng-deep {
        .mat-content {
          &::after {
            color: darken($accent, 7.5%);
            transform: rotate(45deg);
          }
        }
      }

      .mat-expansion-panel-header-title {
        color: darken($accent, 7.5%);
      }
    }
  }
}

.test-type-info {
  a {
    color: $text;
  }

  &:not(:first-child) {
    margin-top: 2.4rem;
  }
}

.type-info-caption {
  color: $primary;

  + * {
    margin-top: 1rem;
  }
}

.test-type-buttons {
  margin-top: 2.4rem;

  > * {
    &:not(:first-child) {
      margin-top: 0.8rem;
    }
  }
}

.show-all-types {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $accent;
  padding-top: 1.2rem;
  border-top: 1px solid #e6e6e6;

  > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }

  svg {
    stroke: $accent;
  }
}
