<div class="page-content" [hidden]="!doc">
  <div class="page-container">
    <div class="page-top">
      <a (click)="back()" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>{{ "BACK" | translate }}</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">{{
        "CLOSE" | translate
      }}</a>
    </div>

    <h1 class="page-title">{{ "TO_SIGN_DOCUMENTS" | translate }}</h1>

    <div class="docs">
      <div class="doc" *ngFor="let doc of doc.documents">
        <svg width="1.6rem" height="1.22rem">
          <use xlink:href="assets/sprites/icons.svg#done"></use>
        </svg>
        <span>{{ doc.name }}</span>
      </div>
    </div>

    <div class="confirm-text">
      <ng-container *ngIf="!doc.id_parent">
        {{ "I" | translate }}, <strong>{{ doc.fio }},</strong>
        {{ "SIGNING" | translate }}
      </ng-container>
      <ng-container *ngIf="doc.id_parent">
        {{ "I" | translate }}, <strong>{{ doc.parent_fio }},</strong> являюсь
        законным представителем <strong>{{ doc.fio }}</strong>
        {{ "SIGNING" | translate }}.
      </ng-container>
    </div>

    <div class="signature">
      <button
        (click)="clearSignature()"
        class="icon-button clear-signature"
      ></button>
      <signature-pad
        [options]="signaturePadOptions"
        (onEndEvent)="drawComplete()"
      ></signature-pad>
    </div>
    <div class="signature-warning">
      {{
        doc.id_parent
          ? ("SIGNED_BY_LEGAL_REPRESENTATIVE" | translate)
          : ("SIGNED_BY_AN_ADULT" | translate)
      }}
    </div>
  </div>
</div>

<div class="buttons">
  <button
    type="button"
    (click)="submit()"
    class="button"
    [disabled]="isEmpty || isLoading"
    [class.is-loading]="isLoading"
  >
    <span>{{ "BUTTON.NEXT" | translate }}</span>
    <svg width="1.6rem" height="1.6rem">
      <use xlink:href="assets/sprites/icons.svg#next"></use>
    </svg>
  </button>
</div>
