<div class="city-confirm">
  <div class="city-confirm-content">
    <div class="selected-city">
      <span>{{ "YOUR_CITY" | translate }}: </span>
      <strong class="primary-color">{{ currentLocation?.name }}</strong>
    </div>

    <div
      class="no-services"
      *ngIf="false"
      [innerHTML]="'UNFORTUNATELY_SERVICES_NOT_AVAILABLE' | translate"
    ></div>

    <div class="city-confirm-buttons">
      <button class="button" (click)="confirmLocation()">
        {{ "YES_RIGHT" | translate }}
      </button>
      <button class="button select-city-btn" (click)="showCityList = true">
        {{ "CHOOSE_ANOTHER" | translate }}
      </button>

      <app-city-select
        (selectCity)="selectCity($event)"
        [exclude]="'.select-city-btn'"
        (clickOutside)="showCityList = false"
        *ngIf="showCityList"
        class="location-bar-confirm"
        [cities]="cities"
      ></app-city-select>
    </div>

    <div class="city-confirm-info">
      <p>{{ "DEPEND_ON_SELECTED_CITY" | translate }}</p>
    </div>
  </div>
</div>
