<div class="page-content">
  <div class="page-container">
    <p>
      Исследование доступно только бессимптомным пациентам. Для пациентов,
      контактировавших с больными COVID-19, или имеющим повышенную температуру
      тела и/или явные симптомы ОРВИ проведение исследования невозможно.
    </p>
    <p>
      Рекомендуем обратиться в единый консультационный центр Роспотребнадзора по
      тел.: <br />
      <a class="phone-link" href="tel:88005554943">8 (800) 555-49-43</a>
    </p>
    <p><strong>Будьте здоровы!</strong></p>
  </div>
</div>

<div class="buttons">
  <button class="button" [routerLink]="['/cabinet', 'questionnaires']">
    <span>К анкетам</span>
  </button>
</div>
