<div class="user-menu">
  <div
    class="user-block"
    style="background-image: url(assets/home/user-menu-bg.svg)"
  >
    <div class="user-info">
      <div class="user-image">
        <img src="assets/home/user-avatar.png" alt="user avatar" />
      </div>
      <div class="user-name">
        <div>{{ (user$ | async).name }}</div>
      </div>
    </div>
    <button
      [routerLink]="['/profile']"
      (click)="closeMenu()"
      class="icon-button edit-profile"
    >
      <svg width="1.6rem" height="1.6rem">
        <use xlink:href="assets/sprites/icons.svg#pen"></use>
      </svg>
    </button>
  </div>

  <ul class="user-nav">
    <li class="user-nav-item">
      <a [routerLink]="['/cabinet', 'questionnaires']" (click)="closeMenu()">
        <span class="user-nav-text">анкеты</span>
      </a>
    </li>
    <li class="user-nav-item">
      <a [routerLink]="['/cabinet', 'orders']" (click)="closeMenu()">
        <span class="user-nav-text">заказы</span>
      </a>
    </li>
    <li class="user-nav-item" *ngIf="false">
      <a [routerLink]="['/cabinet', 'queue']" (click)="closeMenu()">
        <span class="user-nav-text">моя очередь</span>
      </a>
    </li>
  </ul>

  <div class="qr-code-block" *ngIf="false">
    <img
      class="qr-code-image"
      src="assets/home/qr-code.png"
      alt="qr code image"
    />
    <div class="qr-code-text">
      <p>QR-код для быстрой авторизации в мед. центре</p>
    </div>
  </div>

  <button class="logout-button" (click)="logout()">
    <svg width="2rem" height="2rem">
      <use xlink:href="assets/sprites/icons.svg#logout"></use>
    </svg>
    <span>Выйти</span>
  </button>
</div>
