<div class="page-content">
  <div class="page-container">
    <div class="refund-success-content">
      <img
        class="refund-success-image"
        src="assets/cabinet/success-response.svg"
        alt="Успешно"
      />
      <div class="refund-success-text">
        <p>Ваша заявка принята. Мы свяжемся с вами в ближайшее время.</p>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button type="button" [routerLink]="['/cabinet', 'orders']" class="button">
      <span>Заказы</span>
    </button>
  </div>
</div>
