<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a [routerLink]="['/cabinet', 'questionnaires']" class="back-link">
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>{{ "BACK" | translate }}</span>
      </a>

      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">{{
        "CLOSE" | translate
      }}</a>
    </div>

    <div class="info-content">
      <h6 class="info-title">{{ "ATTENTION" | translate }}</h6>
      <p>
        {{ "TEST_RESULTS_FOR_SUBMISSION" | translate }}
      </p>
    </div>
  </div>
</div>

<div class="buttons">
  <button type="button" (click)="goToCreation()" class="button">
    <span>{{ "BUTTON.NEXT" | translate }}</span>
    <svg width="1.6rem" height="1.6rem">
      <use xlink:href="assets/sprites/icons.svg#next"></use>
    </svg>
  </button>
</div>
