.bc-container {
  padding: 2rem;
}

.bc-top {
  display: flex;
}

.close {
  font-size: 1.6rem;
}

.custom-barcode {
  display: block;
  transform: rotate(90deg);
  margin: 2.9rem 6.75rem 25rem 6.75rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 1023px) and (min-aspect-ratio: 9/7) and (orientation: landscape) {
  .custom-barcode {
    transform: rotate(0);
  }
}
