@import "theme";
@import "fonts";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.page-title {
  font-size: 2.2rem;
  line-height: 1.28;
  font-weight: 600;
  margin-top: 2.4rem;
}

.subtitle-text {
  margin-top: 0.9rem;
  font-size: 1.2rem;
  line-height: 1.34;
  color: $gray;
}

.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.page-container {
  padding: 0 2rem;
}

.button {
  color: $light;
  display: flex;
  border: 0;
  align-items: center;
  font: 600 1.2rem/1.397 "OpenSans", sans-serif;
  background-color: $accent;
  justify-content: center;
  padding: 1.6rem 1.2rem;

  > * {
    &:not(:first-child) {
      margin-left: 0.8rem;
    }
  }

  svg {
    fill: $light;
  }

  &.primary {
    background-color: $primary;
  }

  &:disabled {
    background-color: $accent-disabled;
  }
}

.icon-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: 0;
  flex-shrink: 0;
}

.buttons-group {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 100%;
  bottom: 3.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;

  > * {
    &:not(:first-child) {
      margin-left: 1.6rem;
    }
  }

  .button {
    flex: 1;
  }
}

.form-controls {
  margin-top: 2.4rem;

  > * {
    &:not(:first-child) {
      margin-top: 1.6rem;
    }
  }
}

// .form-control {
//   input {
//     width: 100%;
//     padding: 1.1rem 1.6rem;
//     color: $dark;
//     border: 0.1rem solid $light-gray;
//     font: 400 1.6rem/1.5 "OpenSans", sans-serif;
//     appearance: none;

//     &::placeholder {
//       color: rgba($dark, 0.4);
//     }

//     &:focus {
//       border-color: $accent;
//       outline: none;
//       box-shadow: 0 0 0 0.1rem $accent;
//     }

//     &.ng-invalid {
//     }
//   }

//   &.invalid {
//     input {
//       border-color: $error;
//       box-shadow: 0 0 0 0.1rem $error;
//     }
//   }
// }

.form-control {
  input {
    color: $dark;
    font: 400 1.6rem/1.5 "OpenSans", sans-serif;
    margin-top: 0;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;
    }

    .mat-form-field-label {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    mat-error {
      margin-top: 0.3rem;
    }

    .mat-form-field-infix {
      padding: 1.35rem 0;
      border-top-width: 1rem;
      font-size: 1.6rem;
      display: flex;
      border-top-width: 0.9rem;
      align-items: center;
      justify-content: space-between;
    }

    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0;
    }

    .mat-form-field-subscript-wrapper {
      position: static;
      margin-top: 0;
      font-size: 1.2rem;
      line-height: 1.34;
      padding: 0;
      overflow: visible;
    }

    .mat-form-field-hint-wrapper {
      display: none;
    }

    &.mat-focused {
      &:not(.mat-form-field-invalid) {
        .mat-form-field-label,
        .mat-form-field-outline-thick {
          color: lighten($primary, 10%);
        }
      }
    }

    &.mat-form-field-invalid {
      .primary-color {
        color: $error;
      }
    }
  }

  .mat-form-field {
    width: 100%;
  }
}

.form-control-text {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  line-height: 1.34;
}

.primary-color {
  color: $primary;
}
