<div class="page-content">
  <div class="page-container">
    <div class="page-top">
      <a
        [routerLink]="[
          '/cabinet',
          'services-registration',
          'questions',
          servicesRegistration.order.id
        ]"
        class="back-link"
      >
        <svg width="1rem" height="1rem">
          <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
        </svg>
        <span>Назад</span>
      </a>
      <a class="close" [routerLink]="['/cabinet', 'questionnaires']">Закрыть</a>
    </div>

    <h2 class="subtitle">Укажите дату возвращения в РФ</h2>

    <form [formGroup]="form" (submit)="submit()">
      <div class="form-controls">
        <!-- date picker -->
        <div class="form-control date-form-control">
          <mat-form-field appearance="outline">
            <mat-label>Дата</mat-label>

            <input
              matInput
              name="abroad_return_date"
              formControlName="abroad_return_date"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <svg matDatepickerToggleIcon width="2rem" height="2.2rem">
                <use xlink:href="assets/sprites/icons.svg#calendar-today"></use>
              </svg>
            </mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker></mat-datepicker>

            <mat-error
              ><app-error-messages
                *ngIf="
                  form.get('abroad_return_date').touched &&
                  form.get('abroad_return_date').invalid
                "
                [errors]="form.get('abroad_return_date').errors"
                [errorMessages]="{
                  required: 'Введите дату возвращения'
                }"
              ></app-error-messages
            ></mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="buttons">
        <button class="button" [disabled]="form.invalid">
          <span>Далее</span>
          <svg width="1.6rem" height="1.6rem">
            <use xlink:href="assets/sprites/icons.svg#next"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
