<div class="page-content">
  <div class="page-container">
    <a (click)="back()" class="back-link">
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>Назад</span>
    </a>

    <h1 class="page-title">Не приходит смс с кодом</h1>

    <div class="info">
      Проверьте что:
      <ul class="info-list">
        <li>ваш телефон включен и находится в зоне приема сети;</li>
        <li>вы ввели правильный номер телефона или адрес электронной почты.</li>
      </ul>
      <div class="info-text">
        Иногда СМС приходит не сразу. Если СМС нет 10 минут, попробуйте получить
        код еще раз.
      </div>
    </div>
  </div>
</div>
