<div class="page-content">
  <div class="page-container">
    <a (click)="back()" class="back-link">
      <svg width="1rem" height="1rem">
        <use xlink:href="assets/sprites/icons.svg#chevron-left"></use>
      </svg>
      <span>{{ "BACK" | translate }}</span>
    </a>

    <h1 class="page-title">{{ "NOT_RECEIVED_SMS" | translate }}</h1>

    <div class="info">
      {{ "CHECK_THAT" | translate }}:
      <ul class="info-list">
        <li>{{ "YOUR_PHONE_IS_SWITCHED" | translate }}</li>
        <li>{{ "ENTERED_CORRECT_PHONE_OR_EMAIL" | translate }}</li>
      </ul>
      <div class="info-text">
        {{ "SMS_10_MIN_INFO" | translate }}
      </div>
    </div>
  </div>
</div>
