<header class="header">
  <div class="header-container">
    <button class="header-button menu-button">
      <svg width="3.3rem" height="1.8rem">
        <use xlink:href="assets/sprites/icons.svg#burger"></use>
      </svg>
    </button>
    <div class="spacer"></div>

    <!-- language -->
    <div class="language-select">
      <div class="flag">
        <img src="assets/flags/russia.svg" alt="russia flag" />
      </div>
      <div class="language">
        <span>Rus</span>
        <svg width="1.4rem" height="1.4rem">
          <use xlink:href="assets/sprites/icons.svg#arrow-down"></use>
        </svg>
      </div>

      <!-- language dropdown -->
      <ul class="language-dropdown"></ul>
    </div>

    <button class="header-button logout-button">
      <svg width="2.223rem" height="2.34rem">
        <use xlink:href="assets/sprites/icons.svg#logout"></use>
      </svg>
    </button>
  </div>
</header>
