@import "theme";
@import "vars";

.header-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header {
  background-color: $light;
  box-shadow: 0rem 0.2rem 0.8rem rgba(147, 147, 147, 0.35);
  padding: 0 2rem;
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-button {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.menu-button {
  svg {
    stroke: $primary;
    stroke-width: 0.2rem;
  }
}

.login-button {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-button,
.login-button {
  margin-left: 2rem;

  svg {
    fill: $primary;
  }
}

.language-select {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.39;
  padding: 0.4rem;

  position: relative;
}

.language {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  > * {
    &:not(:first-child) {
      margin-left: 0.7rem;
    }
  }
}

.language-arrow {
  transform-origin: 50% 50%;

  &.rotated {
    transform: rotate(180deg);
  }
}

.language-dropdown {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s;
  background: $light;
  margin: 0;
  padding: 0.4rem;
  list-style-type: none;
  box-shadow: 0px 0.2rem 0.8rem rgba(147, 147, 147, 0.35);

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.language-item {
  display: flex;
  align-items: center;
  > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
